@use '../../mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  * {
    z-index: 10;
  }

  margin: auto;
  width: 50%;
  height: 90%;
  margin:auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: url(../../assets/flipbook-textures/scroll.png),
  radial-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0));
  background-blend-mode: lighten;
  @include bg-single-contain-center;
  color: #fff;
  /* Couleur du texte */
  // border: 2px solid #8b735b; /* Bordure */
  // border-radius: 8px; /* Coins arrondis */
  // background-color: #573d26; /* Couleur de fond avec une teinte terreux */
  // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre légère */
  transition: background-color 0.3s ease,
  color 0.3s ease;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.01);

    h1 {
      animation: glow 1s ease-in-out infinite alternate;
    }

    &::before {
      position: absolute;
      z-index: -1;
      content: "";
      background-image: radial-gradient(rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.3), rgb(1, 1, 1, 0), rgba(1, 1, 1, 0));
      height: 100%;
      width: 100%;
      border-radius: 50%;
      animation: turnOn 0.3s;
    }
  }

  animation: scrollDown 1s ease-out;

  img {
    max-width: 40%;
    max-height: 7%;
    margin: 0 auto;
  }
}

@keyframes turnOn {
  from {
    opacity: 0;

  }

  to {
    opacity: 1;

  }

}

@keyframes scrollDown {
  from {
    transform: scale(0.5)translateY(-100%);
    opacity: 1;
  }

  to {
    transform: scale(1)translateY(0%);
    opacity: 1;
  }
}


@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

h1 {
  font-family: 'bronzion';
  color: var(--title-color-pri);
  margin-top: 5%;
  transition: 1s;
  font-size: 9vmin;

  &::first-letter {
    color: var(--title-color-sec);
    font-size: 15vmin;
  }
}

.nav-link {
  margin-top: 1vmin;

  button {
    min-width: 70%;
    cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
    border: none;
    padding: 2vmin;
    background: url("../../assets/flipbook-textures/fantasy-button.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.1s;

    &:hover {
      filter: hue-rotate(50deg);
      text-shadow: #342101 1px 1px 10px;
      transform: scale(1.1);
    }
    &:active {
      color: white;
    }
  }

  // &:last-child{
  // }
}


#key {
  content: url(../../assets/flipbook-textures/key.png);
  display: block;
  max-width:20vmin;
  max-height:30vmin;
  width: auto;
  height: auto;
  position: absolute;
  right: 10vw;
  bottom: 0%;
  background: radial-gradient(#00000041, #00000000, #00000000 50%);
  border-radius: 50%;
  transform: rotate(50deg);
  animation: pulse 2s infinite;
  transition: 1s;
  z-index: 1000;
  pointer-events: none;
}


#feather {
  content: url(../../assets/flipbook-textures/feather2.png);
  display: block;
  max-width:25vmin;
  max-height:35vmin;
  width: auto;
  height: auto;
  position: absolute;
  left: 10vw;
  bottom: 6%;
  background: radial-gradient(#00000041, #00000000, #00000000 50%);
  // border-radius: 50%;
  transition: 1s;
  z-index: 1000;
  pointer-events: none;
}

.connect {
  &:hover #key {
    transform: scale(1.5)rotate(60deg);
  }
}

.inscript {
  &:hover #feather {
    transform: scale(1.4)rotate(-10deg);
  }
}

@keyframes pulse {
  0% {
    filter: brightness(1.2);
  }

  50% {
    filter: brightness(1.5);
  }

  100% {
    filter: brightness(1.2);
  }
}

.exitAnimation{
  animation: exitAnimation 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes exitAnimation {
  from{
    opacity: 1;
    transform: scale(1);
  }
  to{
    opacity: 0;
    transform: scale(0);
  }

}