<div class="flipbook_container">
    <div class="creature_pages">
        <div class="creature_pages_content">
            <app-creature-pages-content (CreatureEvent)="receiveSelectedCreature($event)"></app-creature-pages-content>
        </div>
    </div>
    <div class="flipbook_wrapper">
        <flipbook [model]="book" [startAt]="1"></flipbook>
    </div>
</div>

<div id="desktop_glow_wrapper">
    <div id="desktop_glow"></div>
</div>

<div id="firelight_effect"></div>

<div id="firewall">
    <img src="">
    <img src="">
    <img src="">
</div>
