@use '../../mixins' as *;
@use '../../variables' as *;


:root {
	--glowColor1: #f2e4ff;
	--glowColor2: #000000;
}

.flipbook_container {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	position: relative;
	margin: 50px 0px;
	animation: flipbookAppear 2s ease-in-out;
	opacity: 0;
	animation-delay: 2s;
	animation-fill-mode: forwards;

	.flipbook_wrapper { // seems  to be needed to keep book centered in flipbook_container
		// &:after{
		// 	content: "HELLO";
		// 	width: 100%;
		// 	height: 100%;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	background: url(../../assets/flipbook-textures/oroboros.png);
		// 	@include bg-single-contain-center;
		// }
	}


	flipbook, .creature_pages {
		// make flipbook size responsive
		@media (max-width: 1050px) {
			transform: scale(0.85);
		}

		@media (max-width: 920px) {
			transform: scale(0.65);
		}

		@media (max-width: 800px) {
			transform: scale(0.60)translateX(0%);
		}

		@media (max-width: 630px) {
			transform: scale(0.40)translateX(0%);
		}
	}


	// FRONT COVER
	flipbook .cover:first-of-type {

		// filter:brightness(0.5) !important;
		&:before {
			// MAIN TITLE
			content: "Mythik";
			font-family: bronzion;
			display: flex;
			font-size: xx-large;
			transform: scale(2)translate(0%, -5%);
			color: rgb(11, 0, 0);
			text-shadow: #ede8ee7c 1px 1px 4px;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: 0;
			width: 100%;
			height: 100%;
			background: var(--fire_light_effect-uniform);
			@include bg-single-contain-center;
			animation: flipbookTitleEffect 10s;
		}

		&:after {
			// SUBTITLE
			content: "Grimoire";
			opacity: 1;
			font-family: bronzion;
			display: flex;
			font-size: xx-large;
			transform: scale(1)translate(0%, 60px);
			color: rgba(213, 210, 227, 0.7);
			text-shadow: #14001b7c 1px 1px 1px;
			align-items: center;
			justify-content: center;
			position: absolute;
			z-index: -1;
			width: 100%;
			height: 100%;
			animation: flipbookTitleEffect 10s;
			background: url(../../assets/flipbook-textures/zodiac_arena_filled.png),
				rgba(255, 0, 0, 0);
			@include bg-single-contain-center;
			$bg-size: 98%;
			background-size: $bg-size , $bg-size;
			background-position: 50% 3%;
		}
	}

	@keyframes flipbookTitleEffect {
		0% {
			// font-size: 3vw;
			letter-spacing: 3vw;
			text-shadow: -1px -1px 1px $title-color-pri, -10px -10px 10px $title-color-pri, 10px 10px 10px $title-color-sec, 1px 1px 1px $title-color-sec ;
			filter: blur(2px) brightness(3) hue-rotate(10deg)contrast(2);
		}

		50% {
			letter-spacing: normal;
		}

		100% {
			filter: brightness(1)hue-rotate(0), contrast(1), blur(0px);
		}
	}



	// EFFECT OF COVER HOVER
	flipbook .cover:first-of-type,
	flipbook .cover:last-of-type {
		transition: 0.9s !important;
		filter: saturate(1);
		&:hover {
			filter: saturate(2)
		}
	}



	// BINDING RINGS
	flipbook:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		//background-color: red;
		background: url(../../assets/flipbook-textures/ring.png);
		filter: brightness(0.75);
		background-size: contain;
		// background-repeat: repeat;
		height: 90%;
		width: 2%;
	}





	// ALL PAGES EXCEPT COVERS
	flipbook-page .page:not(.cover) {
		background-size: 10%;
		transform: scaleX(-1);
		background-size: cover !important;
		background-position-x: left;
		opacity: 1;

		// darken space between pages
		&:after {
			display: flex;
			content: "";
			background: linear-gradient(0.25turn, rgba(255, 255, 255, 0) 95%, rgba(45, 25, 0, 0.26) 99.8%, rgba(45, 25, 0, 0.916) 100%);
			height: 100%;
			width: 100%;
		}

		// filter over each page
		&:before {
			content: "";
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px !important;
			background: var(--fire_light_effect-pages) !important;
			opacity: 0.3;
			filter: blur(10px);
		}
	}

	// TARGET BACK OF FRONT COVER:
	flipbook-page .cover+.page {
		// background-color: red !important;
		opacity: 1 !important;

		&::after {
			// overlay cover image, to slightly blend it into the back
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			background: url(../../assets/flipbook-textures/grimoire-cover2.jpeg);
			@include bg-single-contain-center;
			background-size: 100% 100%;
			opacity: 0.3;
		}
	}

	// TARGET BACK OF BACK COVER:
	.bookCoverBack .page:not(.cover) {
		// background-color: red !important;
		opacity: 1 !important;

		&::after {
			// overlay cover image, to slightly blend it into the back
			content: "";
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0px;
			left: 0px;
			background: url(../../assets/flipbook-textures/grimoire-cover2.jpeg) !important;
			@include bg-single-contain-center;
			background-size: 100% 100% !important;
			opacity: 0.3;
		}
	}




	// ALL PAGES / COVERS
	flipbook-page .page {
		overflow: hidden;
		cursor: url(../../assets/cursors/middle-ages-pointer-32x32.png), pointer;
		// ADD SHADOW EFFECT TO EVERY PAGE
		// box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
		filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
	}

	// random stains
	.stained + div{
		display: flex;
		position: absolute;
		height: auto !important;
		aspect-ratio: 1 !important;
		// background-color: rgba(255, 0, 0, 0.515) !important;
		background-size: contain !important;
		background-position: center !important;
		background-repeat: no-repeat !important;
	}



	.page_content {
		color: green;
		display: block;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: red !important;
	}

	@keyframes flipbookAppear {
		0% {
			opacity: 0;
			filter: brightness(5)blur(0px)drop-shadow(0 0 0px rgb(255, 0, 0));
		}

		25% {
			opacity: 0.9;
			filter: brightness(10)blur(20px)drop-shadow(0 0 20px rgb(0, 195, 255));

		}

		50% {
			opacity: 1;
			filter: brightness(10)blur(10px)drop-shadow(0 0 15px rgb(255, 255, 0));
		}

		100% {
			opacity: 1;
			filter: brightness(1)blur(0px)drop-shadow(0 0 0px rgb(0, 0, 0, 0.1));
		}

	}

	.mocktext {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		margin: 50px 50px;
		height: 85%;
		width: 75%;
		font-family: "Lugrasimo", "eb_garamond", "notoserif_tc", "notoserif_jp", "grandiflora";
		color: rgba(78, 2, 2, 0.75);
		overflow:hidden;
		opacity: 0.9;
		background-repeat: no-repeat !important;

		// fade corners of text
		--mask: radial-gradient( ellipse, black 20%, transparent);
		mask: var(--mask);

		// filter: blur(1px);
		&.side_right { // flip text on right side pages
			transform: scaleX(-1);
		}
	}

	.creature_pages { // container of both creature pages
		pointer-events: none;
		width: 800px * 1.2; // adjust according to book width in "test-flipbook.component.ts"
		height: auto;
		aspect-ratio: 4/2.3;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		// gap: 5px;
		align-items: center;
		z-index: 10;
		position: absolute;
		// display: none;


		// background-color: rgba(255, 255, 0, 0.1);
		.creature_pages_content {
			position: relative;
			// background-color: rgba(255, 0, 0, 0.5);
			// width: 45%;
			width: 100%;
			height: 100%;
		}
	}

	#firstPage {
		margin: auto;
		margin-top: 7.5%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: scaleX(-1);
		padding-top: 10%;
		flex-direction: column;
		color: rgba(41, 0, 0, 0.689);
		font-family: "Lugrasimo";
		height: 100%;
		width: 90%;
		background-image: url("../../assets/flipbook-textures/page_decoration1.png");
		background-size: contain;
		background-repeat: no-repeat;
		overflow: hidden;
		// background-color: rgba(255, 0, 0, 0.313);

		h1 {
			color: $title-color-pri;
			font-family: 'bronzion';
			font-size: 6vmin;
			text-transform:uppercase;
			&::first-letter {
				border-image: url(../../assets/flipbook-textures/floral.png) 100% 0%/ 2vw 0vw 0vw/ 1.5vw space;
				color: $title-color-sec;
				font-size: 9vmin;
			}
		}

		h2 {
			font-size: 4vmin;
			// padding-bottom: %;
			&::first-letter {
				font-family: 'bronzion';
				font-size: 5vmin;
				// background-color: pink;
			}
		}

		p {
			font-size: 2vmin;
			width: 50%;
			text-align: center;
			padding: 5% 0px;
		}

		#img_middle {
			width: 30%;
			opacity: 0.3;
			animation: sigilEffect 10s alternate infinite;
			box-shadow: 0 0 10px black;
			border-radius: 100%;
		}

		#img_bottom {
			width: 20%;
			opacity: 0.63;
			// border-radius: 100%;
			// box-shadow: 0 0 20px red;
		}

	}

	@keyframes sigilEffect {
		0%{
			filter:drop-shadow(0 0 10px gold)brightness(2)contrast(1);
			background: rgba(64, 0, 255, 0.402);
			transform: scale(1)rotate(-5deg);
		}

		50%{
			filter:drop-shadow(0 0 15px goldenrod)brightness(0.75)contrast(0.75);
			background: rgba(128, 0, 128, 0.4);
		}

		100%{
			filter:drop-shadow(0 0 5px purple)brightness(1.5)contrast(3);
			background: rgba(255, 217, 0, 0.387);
			transform: scale(1.05)rotate(5deg);
		}
	}

	#lastPage {
		margin: auto;
		margin-top: 7.5%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 0px;
		flex-direction: column;
		color: rgba(41, 0, 0, 0.689);
		font-family: "Lugrasimo";
		height: 90%;
		width: 85%;
		background-image: url("../../assets/flipbook-textures/page_decoration2.png");
		background-size: contain;
		background-repeat: no-repeat;
		text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.19);

		// overflow: hidden;
		img {
			width: 80%;
			opacity: 0.9;
			filter: sepia(1);
			animation: waggle 0.1s infinite ease-in-out alternate;
		}
	}

	@keyframes waggle {
		from {
			transform: rotate(20px);
		}

		to {
			transform: rotate(-2deg);
		}
	}

	// PREAMBLE TO CREATURES SECTION
		#preamble {
			// transform: scaleX(-1);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2vw;
			color: transparentize($color: $text-color, $amount: 0.5);
			height: 100%;
			width: 80%;
			margin: auto;
			line-height: 2.5vw;
			// background: radial-gradient(#e66465, #9198e5, #9198e500, #9198e500);
			#first_letter{
				color: $title-color-sec;
				font-family: "bronzion";
				font-size: 4vw;
			}
			#user_id{
				margin-top: 3vw;
				text-transform: capitalize;
				color: saturate($color: $text-color, $amount: 2);
				text-shadow: 0 0 10px $title-color-pri;
			}
			img{
				width: 40%;
				opacity: 0.75;
			}

		}
	// PAGE BEFORE CREATURES SECTION
	#creaturesStart {
		transform: scaleX(-1);
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgba(41, 0, 0, 0.889);
		font-family: "Stempel-Garamond-W01-Roman", "bronzion";
		height: 100%;
		width: 100%;
		background: radial-gradient(#e66465, #9198e5, #9198e500, #9198e500);
		animation: glowBg 5s infinite alternate;

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 50%;
			height: 80%;
			width: 80%;
			transform: translate(50%, -50%);
			opacity: 0.1;
			z-index: -1;
			background-size: cover;
			background-repeat: no-repeat;
			background: url("../../assets/flipbook-textures/floral_bg.png");
			border-image:  url("../../assets/flipbook-textures/celtic_frame.png") 20% 20% /5vw 5vw /1vw round ;
		}

		div {
			display: flex;
			position: relative;
			align-items: center;
			justify-content: center;
			text-align: center;
			width: 100%;
			height: 50%;
			letter-spacing: 1.0vw;
			animation: glowText 0.4s ease-in-out infinite alternate;

			&::after {
				content: "";
				background-image: url("../../assets/flipbook-textures/celtic_knot.png");
				position: absolute;
				top: 50%;
				right: 50%;
				height: 300px;
				width: 300px;
				transform: translate(50%, -50%);
				opacity: 0.1;
				background-size: contain;
				background-repeat: no-repeat;
				animation: glowDecoration 5s infinite linear;
			}
		}
	}

	@keyframes glowText {
		from {
			text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glowColor1), 0 0 40px var(--glowColor1), 0 0 50px var(--glowColor1), 0 0 60px var(--glowColor1), 0 0 70px var(--glowColor1);
			transform: translateX(0.5px);
			font-size: 3vw;
		}

		to {
			text-shadow: 0 0 20px #fff, 0 0 30px var(--glowColor2), 0 0 40px var(--glowColor2), 0 0 50px var(--glowColor2), 0 0 60px var(--glowColor2), 0 0 70px var(--glowColor2), 0 0 80px var(--glowColor2);
			transform: skew(90deg 90deg);
			transform: translateX(-0.5px);
			font-size: 3vw;
		}
	}

	@keyframes glowDecoration {
		0% {
			opacity: 0.2;
			transform: translate(50%, -50%)rotate(0deg)scale(0.9, 0.7);
			filter: hue-rotate(50deg)blur(3px);
			background: radial-gradient(#e66465, #03030d, #9198e500, #9198e500);
		}

		50% {
			opacity: 1;
			transform: translate(50%, -50%)rotate(180deg)scale(1.1, 0.9);
			filter: hue-rotate(180deg)blur(0px);
			background: radial-gradient(#2a0404, #ffffff, #9198e500, #9198e500);
		}

		100% {
			opacity: 0.2;
			transform: translate(50%, -50%)rotate(360deg)scale(0.9, 0.7);
			filter: hue-rotate(50deg)blur(3px);
			background: radial-gradient(#e66465, #9198e5, #9198e500, #9198e500);
		}
	}


	@keyframes glowBg {
		0% {
			// background: radial-gradient(#e66465, #9198e5,#9198e500, #9198e500);
			filter: blur(0px)hue-rotate(90deg)brightness(2);
		}

		50% {
			filter: blur(1px)hue-rotate(180deg);
		}

		100% {
			// background: radial-gradient(#9198e5, #e66465,#9198e500, #9198e500);
			filter: blur(0px)hue-rotate(-90deg)brightness(0.1);
		}
	}


	.magic_effect {
		width: 100%;
		height: 100%;
		background: url(../../assets/flipbook-textures/zodiac_arena.png),
		radial-gradient(circle closest-side,  white, transparent)
		//radial-gradient(black, transparent 30%)
		;
		@include bg-single-contain-center;
		background-size: 50%;
		transform: scaleX(-1);
		opacity: 1;
		transition: 1s;

		&::after {
			content: "";
			background:
			url("../../assets/flipbook-textures/celtic_knot.png");
			position: absolute;
			// top: 50%;
			// right:50%;
			height: 100%;
			width: 100%;
			// transform: translate(50%,-50%);
			opacity: 0.2;
			background-size: 300px 300px;
			background-repeat: no-repeat;
			background-position: center;
			animation: rotateRing 10s infinite linear;
			transform-origin: center;
			// animation: glowDecoration 0.1s  infinite linear ; // vortex effect, too intense
		}
	}

	@keyframes rotateRing {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(360deg);
		}
	}


	.fadeRing {
		animation: fadeRing 1s;
		opacity: 0;
	}

	@keyframes fadeRing {
		0% {
			opacity: 1;
			filter: drop-shadow(0 0 0 black);
		}

		30%{
			filter: drop-shadow(0 0 10px $title-color-pri);
		}
		100% {
			opacity: 0;
			filter: drop-shadow(0 0 0 black);
		}

	}

}



#firelight_effect {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	opacity: 0;
	visibility:hidden;
	pointer-events: none; // to be able to click-through
	background-color: rgba(255, 0, 0, 0.00);
	animation: firelight_effect 1s alternate infinite;
}

@keyframes firelight_effect {
	0% {
		background-color: rgb(255, 0, 0);
		opacity: 0;
	}

	10% {
		background-color: rgb(255, 0, 0);
		opacity: 0.001;
	}

	20% {
		background-color: rgb(205, 133, 0);
		opacity: 0.01;
	}

	40% {
		background-color: rgb(174, 153, 36);
		opacity: 0.05;
	}

	60% {
		background-color: rgb(80, 62, 51);
		opacity: 0.005;
	}

	80% {
		background-color: rgb(189, 0, 60);
		opacity: 0.05;
	}

	100% {
		background-color: rgb(15, 6, 0);
		opacity: 0.01;
	}
}


body #firewall {
	position: absolute;
	pointer-events: none;
	display: flex;
	opacity: 0;
	transition: 1s;
	width: 100vw;
	justify-content: center;
	top: 50vh;

	// animation: fireAppear 1s ease-in;
	img {
		opacity: 0.1;
		z-index: 2000;
		background: url("../../assets/fire.gif");
		animation: fire_effect 2s infinite;
		display: none;
	}

	&::before {
		content: "";
		display: block;
		position: absolute;
		right: 0;
		bottom: -1%;
		left: 0;
		width: 100%;
		height: 70%;
		opacity: 0.3;
		z-index: 20;
		background: url("../../assets/fire.gif");
		animation: fire_effect 1s infinite;
		// filter: blur(3px)brightness(1.5);
		//background-repeat: no-repeat;
	}
}

@keyframes fireAppear {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fire_effect {
	0% {
		filter: blur(3px)brightness(3);
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(1.1);
		filter: blur(1px)brightness(2);
	}

	100% {
		filter: blur(5px)brightness(1.5);
		transform: scaleY(1);
	}
}

.grimoireAway {
	transition: 1.25s;
	transform: translateY(-100vh);
	filter: blur(10px)brightness(0.1)drop-shadow(0 0 30px $title-color-pri);

	.page.cover {

		&:before,
		&:after {
			transition: 0.2s;
			text-shadow: 0 0 10px $title-color-sec, 0 0 30px $title-color-pri, 0 0 50px $title-color-pri !important;
		}
	}
}
