<h1 style="text-align: center;">selection Creatures</h1>



<div class="selectionCrea">
    <div  *ngFor="let c of list() | async">
        <p>{{c.nom}}</p>
        <p><img width="30px" height="30px" [src]="c.image"/></p>
    </div>
</div>
<!--

<div>

    <div>
        <p><img width="30px" height="30px" [src]="combattant1.creatue.image"/></p>
        <p>{{combattant1.creature.nom}}</p>
        <p>{{combattant1.joueur.nom}}</p>
    </div>
    <div> <a (click)="goCombat()" class="btn btn-success btn-lg">Combat</a></div>
    <div>
        <p><img width="30px" height="30px" [src]="combattant2.creatue.image"/></p>
        <p>{{combattant2.creature.nom}}</p>
        <p>{{combattant2.joueur.nom}}</p>
    </div>

</div>
-->