<h1 style="text-align: center;">selection Creatures</h1>



<div class="selectionCrea">
    <div  *ngFor="let c of list() | async">
        <p (click)="creationCombattant1(c)">{{c.nom}}</p>
        <p (click)="creationCombattant1(c)"><img width="30px" height="30px" [src]="c.image"/></p>
    </div>
</div>




<div>

    <div *ngIf="combattant1">
        <p><img width="30px" height="30px" [src]="combattant1.creature?.image"/></p>
        <p>{{combattant1.creature?.nom}}</p>
        <p>{{combattant1.compte?.login}}</p>
    </div>
     <div> <a (click)="goCombat() " class="btn btn-success btn-lg">Combat</a></div>
    <div *ngIf="combattant2">
        <p><img width="30px" height="30px" [src]="combattant2.creature?.image"/></p>
        <p>{{combattant2.creature?.nom}}</p>
        <p>{{combattant2.compte?.login}}</p>
    </div> 

</div> 

<div *ngIf="ready">
<app-combat [combattant1]="combattant1" [combattant2]="combattant2" ></app-combat>
</div>