<h1 style="text-align: center;">selection Creatures</h1>



<div class="selectionCrea">
    <div  *ngFor="let c of list() | async">
        <p (click)="creationCombattant1(c)">{{c.nom}}</p>
        <p (click)="creationCombattant1(c)"><img width="30px" height="30px" [src]="c.image"/></p>
    </div>
</div>



<!-- 
<div>

    <div *ngIf="combattant1">
        <p><img width="30px" height="30px" [src]="combattant1"/></p>
        <p>{{combattant1.creature}}</p>
        <p>{{combattant1.joueur}}</p>
    </div>
     <div> <a (click)="goCombat() " class="btn btn-success btn-lg">Combat</a></div>
    <div *ngIf="combattant2">
        <p><img width="30px" height="30px" [src]="combattant2.creatue.image"/></p>
        <p>{{combattant2.creature.nom}}</p>
        <p>{{combattant2.joueur.nom}}</p>
    </div> 

</div> -->
