// ============ SCSS variables

$text-color: rgb(71, 0, 0);
$title-color-pri: rgb(193, 0, 0);
$title-color-sec: rgb(0, 100, 0);
$paper-color-l: rgb(255, 251, 212);
$paper-color-d: rgb(100, 79, 30);
$paper-texture: url("assets/flipbook-textures/natural-paper.png");

$fire_color : red;
$water_color : blue;
$earth_color : green;
$air_color: yellow;