<section>
<h1>Gestion des comptes</h1>

<div class="card compte_list">
    <div class="card-header compte_list_header">
        <div><span>L</span>iste des comptes</div>
    </div>
    <div class="card-body compte_list_body">
        <table>
            <thead>
                <tr>
                    <th class="id">id</th>
                    <th class="login">Login</th>
                    <th class="password">Mot de passe</th>
                    <th class="email">E-mail</th>
                    <th class="type">Role</th>
                    <th class="btn_td"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of list() | async" [class]="u.type">
                    <td class="id">{{u.id}}</td>
                    <td class="login">{{u.login}}</td>
                    <td class="password">{{u.password}}</td>
                    <td class="email">{{u.email}}</td>
                    <td class="type">{{u.type}}</td>
                    <td class="btn_td">
                        <div class="btn-group">
                            <a (click)="edit(u.id)" class="btn"><i class="bi bi-feather"></i></a>
                            <a (click)="remove(u.id)" class="btn">
                                <!-- <i class="bi bi-trash"></i> -->
                                <img src="../../assets/icons/skull-solid.svg"></a>
                        </div>
                    </td>
                </tr>

            </tbody>

        </table>

    </div>
    <div class="card-footer compte_list_footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i></a>
        <a (click)="retour()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
</div>

<div class="compte_edit" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="compteForm">
    <div class="card-header">
        Edition d'un compte
    </div>
    <div class="card-body">
        <div class="form_item">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" readonly formControlName="id">
        </div>
        <div class="form_item">
            <label for="login" class="form-label">Login:</label>
            <input type="text" class="form-control" id="login" name="login" formControlName="login">
            <span class="text-danger" *ngIf="compteForm.get('login')?.dirty && compteForm.get('login')?.hasError('login')">Le login est obligatoire</span>
        </div>
        <div class="form_item">
            <label for="password" class="form-label">Mot de passe:</label>
            <input type="text" class="form-control" id="password" name="password" formControlName="password">
        </div>
        <div class="form_item">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email">
        </div>
        <div class="form_item">
            <label for="type" class="form-label">Roles:</label>
            <select class="form-control" id="type" name="type" formControlName="type">
                <option></option>
                <option value="humain">Humain</option>
                <option value="ia">IA</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit"  class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></button>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
    </form>
</div>
</section>