<body>
<h1>Gestion des comptes</h1>
<div class="card mt-3">
    <div class="card-header">
        Liste des comptes
    </div>
    <div class="card-body"> 
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Login</th>
                    <th>Mot de passe</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of list() | async">
                    <td>{{u.id}}</td>
                    <td>{{u.login}}</td>
                    <td>{{u.password}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.type}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(u.id)" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                        <a (click)="remove(u.id)" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
        
    </div>
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i></a>
        <a (click)="retour()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
</div>

<div class="card mt-3" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="compteForm">
    <div class="card-header">
        Edition d'un compte
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Identifiant:</label>
            <input type="number" class="form-control" id="id" name="id" readonly formControlName="id">
        </div>
        <div class="mb-3">
            <label for="login" class="form-label">Login:</label>
            <input type="text" class="form-control" id="login" name="login" formControlName="login">
            <span class="text-danger" *ngIf="compteForm.get('login')?.dirty && compteForm.get('login')?.hasError('login')">Le login est obligatoire</span>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe:</label>
            <input type="text" class="form-control" id="password" name="password" formControlName="password">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email" name="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="type" class="form-label">Roles:</label>
            <select class="form-control" id="type" name="type" formControlName="type">
                <option></option>
                <option value="humain">Humain</option>
                <option value="ia">IA</option>
                <option value="admin">Admin</option>
            </select>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit"  class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></button>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
    </form>
</div>
</body>