<div id="combat_container">
    <h1 class="combat_title">
        <span>Combat de</span>
        <span>Créatures</span>
    </h1>
    <div id="combat_elements">
        <div class="combattants" [class]="combatTermine? 'finishedCombat' : 'ongoingCombat'" >
            <!-- Combat winner covering screen during final strike -->
            <div id="combat_winner">
                <div [class]="this.combattant1.gagnant? 'playerWin' : 'advWin' "></div>
            </div>
            <!-- 3D background arena -->
            <div id="arena3d_wrapper">
                <div id="arena3d">
                </div>
            </div>

            <div [class]="'combattant player ' + (combattant1.creature! | creatureData)">
                <div>
                    <div [class]="'img_wrapper img_player ' + (combattant1.creature! | creatureData)" >
                        <img
                        class="creature_img"
                         [src]="combattant1.creature?.image"
                         />
                         <div class="attack  player_attack"></div>
                    </div>
                    <div [class]="'nom_login ' + (combattant1.creature! | creatureData)">
                        <div class="nom">{{ creature1.nom }}</div>
                        <div class="nom_login_divider"></div>
                        <div class="login">{{combattant1.compte?.login}}</div>
                    </div>
                </div>
                <div [class]="'barre-vie_container ' + (combattant1.creature! | creatureData)">
                    <div class="barre-vie">
                        <!-- <div class="vie-restante" style="width: 100%;"  *ngIf="debut"></div> -->
                        <div class="vie-restante" [style.width]="vieRestant1 + '%'"></div>
                    </div>
                </div>

                <div class="pv_remaining" style="margin-top: 20px;">Points de vie : <span>{{ creature1.pv }}</span>
                </div>
                <p class="choice" id="player_choice" *ngIf="!combatTermine">Vous avez choisi: <span></span></p>


            </div>


            <div id="battle_arena"  >
                <div id="book_deco">
                    <div id="magic_ring"></div>
                    <div id="magic_vortex"></div>
                    <div id="dialog_banner">
                        <div class="suivi_conteneur">
                            <div class="suiviCombat">
                                <svg width=100% height=50% viewBox="0 0 100 100">

                                    <path id="MyPath"
                                    fill="rgba(0,0,0,0)"
                                    stroke="transparent"
                                    d="M 0 30
                                      Q 50 0
                                       100 30" />

                                    <text>
                                        <textPath href="#MyPath" startOffset="50%" text-anchor="middle" [class]="resultat">
                                            <tspan x="0" dy="-0.9em" class="start_banner" [style.display]="affichage ? 'none' : ''"> Mythik </tspan>

                                            <tspan x="0" dy="-1.2em" [textContent]="affichage?.[2]"></tspan>
                                            <tspan x="0" dy="-1.2em" [textContent]="affichage?.[0]"></tspan>
                                            <tspan class="degat" [textContent]="affichage?.[1]"></tspan>
                                        </textPath>
                                    </text>

                                </svg>
                            </div>
                        </div>
                    </div>
                    <div id="spinner_container">
                        <div id="combat_spinner"></div>
                    </div>
                    <svg id="spinner_target" height="100" width="100">
                        <circle cx="50%" cy="50%" r="49%" />
                    </svg>
                </div>

                <div id="combat_btns" [class]="(combattant1.creature! | creatureData)">
                    <div class="btn_wrapper pierre_wrapper"><button id="pierre_btn"
                            (click)="combattre('pierre')">Pierre</button></div>
                    <div class="btn_wrapper feuille_wrapper"><button id="feuille_btn"
                            (click)="combattre('feuille')">Feuille</button></div>
                    <div class="btn_wrapper ciseaux_wrapper"><button id="ciseaux_btn"
                            (click)="combattre('ciseaux')">Ciseaux</button></div>
                </div>


                <!-- <div *ngIf="!result">

                    <p *ngIf="result === 0">Match nul !</p>
                    <p *ngIf="result === 1">{{ creature1.nom }} gagne la manche !</p>
                    <p *ngIf="result === 2">{{ creature2.nom }} gagne la manche !</p>

                    <button (click)="mancheSuivante()">Manche suivante</button>
                </div> -->
            </div>


            <div [class]="'combattant adv ' + (combattant2.creature! | creatureData)">
                <div>
                    <div [class]="'img_wrapper img_adv ' + (combattant2.creature! | creatureData)" >
                        <img
                        class="creature_img adv_img"
                        [src]="combattant2.creature?.image"
                        />
                        <div class="attack adv_attack"></div>
                    </div>
                    <p [class]="'nom_login ' + (combattant2.creature! | creatureData)">
                        <span class="nom">{{ creature2.nom }}</span>
                        <span class="nom_login_divider"></span>
                        <span class="login">{{combattant2.compte?.login}}</span>
                    </p>
                </div>
                <div [class]="'barre-vie_container ' + (combattant2.creature! | creatureData)">
                    <div class="barre-vie">
                        <!-- <div class="vie-restante" style="width: 100%;"  *ngIf="debut"></div> -->
                        <div class="vie-restante" [style.width]="vieRestant2 + '%'"></div>
                    </div>
                </div>

                <div class="pv_remaining" style="margin-top: 20px;">Points de vie: <span>{{ creature2.pv }}</span></div>
                <p class="choice" id="adv_choice" *ngIf="!combatTermine">L'adversaire a choisi: <span></span></p>

            </div>

        </div>



        <div *ngIf="combatTermine" class="resultat_container" [id]="combattant1.gagnant? 'victory' : 'defeat'">
            <div class="resultat" [id]="combattant1.gagnant? 'victory' : 'defeat'">
                <h2>Résultat du combat</h2>
                <p [id]="combattant1.gagnant? 'victory' : 'defeat'">{{ resultatCombat }} remporte le combat !</p>
                <!-- <p *ngIf="combattant1.gagnant">Gagnant: {{ combattant1.compte!.login}}</p>
                <p *ngIf="combattant2.gagnant">Gagnant: {{ creature2.nom }}</p> -->

                <div class="btn_group" [id]="combattant1.gagnant? 'victory' : 'defeat'">
                    <button (click)="nouvellePartie()">Nouvelle Partie</button>
                    <button (click)="statistiques()">Récapitulatif</button>
                    <button (click)="retour()">Accueil</button>
                </div>
            </div>
        </div>
    </div>

</div>