@use '../../mixins' as *;
@use '../../variables' as *;


#combat_container {
  background: url(../../assets/arena/combat.avif);
  background-blend-mode: multiply;
  background-size: cover;
  overflow: auto;
  width: 100vw;
  /* 50% de la largeur de la fenêtre */
  height: 100vh;
  // border-radius: 50%;
  cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  animation: sectionAppear 5s;
  // &:after{
  //   content: "";
  //   position: absolute;
  //   width: 110%;
  //   height: 110%;
  //   top:50%;
  //   left:50%;
  //   transform: translate(-50%, -50%);
  //   background: url(../../assets/fire_ring.gif);
  //   @include bg-single-contain-center;
  //   background-size: 100% 100%;
  // }
}

@keyframes sectionAppear {
  from {
    background-color: black;
  }

  to {
    background-color: transparent;
  }
}

h1.combat_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(245, 245, 220, 0.555);
  border-radius: 10px;
  padding: 5px;
  margin: 10px 100px;
  background: url(../../assets/flipbook-textures/scroll_combat.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  position: relative;

  * {
    font-size: 25px;
    font-family: "bronzion";
    z-index: 1;
    color: $text-color;
  }

  span:nth-child(2) {
    display: block; // force line break

    &::first-letter {
      color: $title-color-pri;
      font-size: 50px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 65%;
    background: url(../../assets/flipbook-textures/creature_fight.png), $title-color-sec;
    background-blend-mode: lighten;
    transform: scaleX(-1);
    opacity: 0.5;
    @include bg-single-contain-center;
    // mask with image to exclude transparent pixels
    mask-image: url(../../assets/flipbook-textures/creature_fight.png);
    mask-size: contain;
    mask-mode: alpha;
    mask-position: center;
    mask-repeat: no-repeat;

  }

  animation: scrollDisappear 3s forwards;
}

@keyframes scrollDisappear {
  0% {
    transform: scale(2)translateY(50%);
    opacity: 1;
  }

  80% {
    transform: scaleX(1.1);
  }

  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}


#combat_elements {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  animation: combatAppear 2s forwards;
  opacity: 0;
  animation-delay: 1s;
}

@keyframes combatAppear {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.combattants {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  font-family: "lugrasimo";
  text-align: center;

  .combattant {
    display: flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 9999999999999999999;


    .creature_img {
      width: 50%;
      min-height: 50vh;
      object-fit: contain;
      pointer-events: none;

      &.adv_img {
        transform: scaleX(-1);
      }
    }

    .nom_login {
      background: url(../../assets/flipbook-textures/long_scroll.png);
      @include bg-single-contain-center;
      display: flex;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      width: fit-content;
      min-width: 25vw;
      $nom_login_height: 7vw;
      height: $nom_login_height;
      padding: 2% 5%;
      justify-content: space-around;
      align-content: center;

      .nom_login_divider {
        position: relative;
        width: 2vw;
        height: 100%;
        opacity: 0.5;
      }

      &.feu .nom_login_divider {
        background: url(../../assets/elements/element_fire.png), radial-gradient(circle closest-side, $fire_color, transparent);
        @include bg-single-contain-center
      }

      &.eau .nom_login_divider {
        background: url(../../assets/elements/element_water.png), radial-gradient(circle closest-side, $water_color, transparent);
        @include bg-single-contain-center
      }

      &.air .nom_login_divider {
        background: url(../../assets/elements/element_air.png), radial-gradient(circle closest-side, $air_color, transparent);
        @include bg-single-contain-center
      }

      &.terre .nom_login_divider {
        background: url(../../assets/elements/element_earth.png), radial-gradient(circle closest-side, $earth_color, transparent);
        @include bg-single-contain-center
      }

      &.grec {
        border-image: url(../../assets/greek/symbol_greek.png) 0% 100% / 0vw 5vw / 0vw 3vw space;
      }

      &.nordique {
        border-image: url(../../assets/norse/symbol_nordic.png) 0% 100% / 0vw 5vw / 0vw 3vw space;
      }

      &.egyptienne {
        border-image: url(../../assets/egyptian/symbol_egyptian.png) 0% 100% / 0vw 6vw / 0vw 3vw space;
      }

      &.chinoise {
        border-image: url(../../assets/chinese/symbol_chinese.png) 0% 100% / 0vw 5vw / 0vw 3vw space;
      }

      .nom,
      .login {
        position: relative;
        white-space: nowrap;
        color: $text-color;
        font-size: 1vw;
        height: 100%;
        line-height: $nom_login_height;
        vertical-align: middle;

        &::first-letter {
          text-transform: capitalize;
          font-size: 3vw;
          font-family: "bronzion";
        }
      }

      .nom {
        &::first-letter {
          color: $title-color-pri;
        }
      }

      &.dieu .nom {
        &:first-letter {
          text-shadow: 0 0 1px white, 0 0 1px white, 0 0 5px gold, 0 0 10px black, 0 0 10px black,
            0 0 5px gold, 0 0 10px black, 0 0 10px black;
        }

        &::after {
          content: "";
          position: absolute;
          height: 50%;
          width: 100%;
          top: -10%;
          left: 0;
          background: url(../../assets/flipbook-textures/crown2.png);
          @include bg-single-contain-center;
          background-position: bottom;
          opacity: 1;
          z-index: 2;
          animation: itemGlow 1s alternate infinite;
        }
      }

      .login {
        &::first-letter {
          color: $title-color-sec;
        }
      }
    }


    .barre-vie_container {
      width: 30vw;
      height: 3vw;
      // background: url(../../assets/flipbook-textures/healthbar.png);
      // @include bg-single-contain-center;
      display: flex;
      align-items: center;
      justify-content: center;

      &.creature {
        background-color: rgba(255, 0, 0, 0.387);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.422);
      }

      &.dieu {
        background-color: rgba(210, 179, 0, 0.444);
        box-shadow: 0px 0px 5px rgba(255, 221, 0, 0.422), 0px 0px 10px rgba(255, 255, 255, 0.92)
      }

      background-image: url(../../assets/flipbook-textures/bubbles2.gif);
      background-size: contain;
      background-repeat: repeat-x;
      background-position: center;
      padding:0.75vw;
      border-radius: 15%;
    }

    .barre-vie {
      width: 100%;
      height: 100%;
      background-color: rgba(128, 128, 128, 0.176);
      border: 1px solid #ccc;
      overflow: hidden;
      border-radius: 30%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.729), 0px 0px 5px $title-color-pri;
      position: relative;
      border-image: url(../../assets/flipbook-textures/healthbar.png) 50% 25% / 2vw 3vw/ 1vw 2vw round;

      &:after {
        content: "";
        position: absolute;
        height: 30%;
        width: 95%;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(255, 255, 255, 0.158);
        border-radius: 100% 100% 25% 25%;
      }

      .vie-restante {
        transition: 0.5s;
        width: 100%; // starting pv
        height: 100%;
        background-color: color-mix(in srgb, green 100%, darkred);
        box-shadow: 0 0 10px $title-color-pri;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../../assets/flipbook-textures/bubbles.gif);
        background-size: contain;
        background-repeat: repeat-x;
        background-position: center;
      }
    }

    .pv_remaining {
      margin-top: 2.5vw !important;
      border-image: url(../../assets/flipbook-textures/battle_frame.png) 50% 0% / 3vw 1vw / 2vw 0vw space;
      background: radial-gradient(closest-side, rgba(0, 0, 0, 0.565) 80%, transparent);
      padding: 0 10%;

      span {
        color: goldenrod;
        text-shadow: 0 0 5px black;
      }

      // display: none;
    }
  }
}

.round_winner .img_wrapper {
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    animation: winnerBgEffect 1s;
    animation-fill-mode: forwards;
  }

  &.feu::before {
    background: url(../../assets/elements/fire.gif),
      radial-gradient(circle closest-side, $fire_color, transparent);
    @include bg-single-contain-center;
  }

  &.eau::before {
    background: url(../../assets/elements/water.gif), url(../../assets/elements/water2.gif),
      radial-gradient(circle closest-side, $water_color, transparent);
    @include bg-single-contain-center;
  }

  &.air::before {
    background: url(../../assets/elements/air.gif), url(../../assets/elements/storm.gif),
      radial-gradient(circle closest-side, $air_color, transparent);
    @include bg-single-contain-center;
  }

  &.terre::before {
    background: url(../../assets/elements/earth.gif), url(../../assets/elements/earth2.gif), url(../../assets/elements/earth3.gif),
      radial-gradient(circle closest-side, $earth_color, transparent);
    @include bg-single-contain-center;
  }
}

@keyframes winnerBgEffect {

  // animation around round winner during attack
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}



$deco_width: 30%; //
$adj_origin: translate(-50%, 0%);
$pierre_rotation: 65deg;
$feuille_rotation: 180deg;
$ciseaux_rotation: -66deg;
$btn_size: 5vw;

#combat_btns {
  display: block;
  width: $deco_width;
  height: $deco_width;
  margin: auto;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  .btn_wrapper {
    position: absolute;
    background: radial-gradient(ellipse closest-side, purple, transparent);
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    display: flex;
    align-content: center;
    justify-content: center;

    button {
      position: relative;
      width: $btn_size;
      height: $btn_size;
      border-radius: 100%;
      padding: 0px; // center horizontal
      line-height: 0px; // center vertical
      aspect-ratio: 1 / 1;
      font-size: 1vw;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      background-color: rgb(116, 83, 83);
      /* Couleur de fond avec une teinte terreux */
      color: #fff;
      /* Couleur du texte */
      // border: 2px solid #8b735b; /* Bordure */
      border: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      /* Ombre légère */
      transition: background-color 0.3s ease, color 0.3s ease;
      cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
      transition: 0.2s;

      &:active {
        filter: brightness(2)drop-shadow(0 0 10px $title-color-pri);
        text-shadow: 0 0 1px black, 0 0 10px blue, 0 0 5px green;
      }

      &:hover {
        color: $title-color-pri;
        text-shadow: 0 0 1px black;
        background: none;
        background-color: lighten(transparentize($title-color-sec, 0.2), 75);
        opacity: 1;
        border: 0.5px solid $title-color-pri;
        position: relative;

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        width: 115%;
        height: 115%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // background-color: red;
        background: url(../../assets/elements/fire_ring.gif);
        @include bg-single-contain-center;
        border-radius: 100%;
        filter: brightness(1)hue-rotate(240deg);
        opacity: 0;
      }
    }
  }
}

.pierre_wrapper {
  transform: $adj_origin rotate($pierre_rotation);
  padding-bottom: $deco_width* 0.62;
}

.feuille_wrapper {
  transform: $adj_origin rotate($feuille_rotation);
  padding-bottom: $deco_width* 0.52;
}

.ciseaux_wrapper {
  transform: $adj_origin rotate($ciseaux_rotation);
  padding-bottom: $deco_width* 0.62;
}

#pierre_btn {
  transform: rotate(-$pierre_rotation);
  background: url(../../assets/rock_paper_scissors/rock.png);
  cursor: url(../../assets/rock_paper_scissors/rock-cursor_min.png), pointer !important;
  @include bg-single-contain-center;

  &:hover {
    transform: rotate(-$pierre_rotation)scale(1.1);
  }
}

#feuille_btn {
  transform: rotate(-$feuille_rotation);
  background: url(../../assets/rock_paper_scissors/paper.png);
  cursor: url(../../assets/rock_paper_scissors/paper-cursor_min.png), pointer !important;
  @include bg-single-contain-center;

  &:hover {
    transform: rotate(-$feuille_rotation)scale(1.1);
  }
}

#ciseaux_btn {
  transform: rotate(-$ciseaux_rotation);
  background: url(../../assets/rock_paper_scissors/scissors.png);
  cursor: url(../../assets/rock_paper_scissors/scissors-cursor_min.png), pointer !important;
  @include bg-single-contain-center;

  &:hover {
    transform: rotate(-$ciseaux_rotation)scale(1.1);
  }
}


#combat_btns:before {
  content: "";
  position: absolute;
  width: 60%;
  height: 60%;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  background: url(../../assets/elements/fire_ring.gif);
  @include bg-single-contain-center;
  opacity: 0.1;
  transition: 0.3s;
  pointer-events: all;
}

#combat_btns.feu:before {
  background: url(../../assets/elements/fire_ring.gif);
  @include bg-single-contain-center;
}

#combat_btns.eau:before {
  background: url(../../assets/elements/water_ring.gif);
  @include bg-single-contain-center;
}

#combat_btns.terre:before {
  background: url(../../assets/elements/earth_ring.gif);
  @include bg-single-contain-center;
}

#combat_btns.air:before {
  background: url(../../assets/elements/air_ring.gif);
  @include bg-single-contain-center;
}

#combat_btns:hover:before {
  opacity: 1;
}




.choice {
  span {
    text-shadow: 0 0 3px black, 0 0 3px black;
  }

  opacity: 0;
  width: 100%;
}

.combattant.feu .choice {
  background: radial-gradient(closest-side ellipse, $fire_color, transparent);
}

.combattant.eau .choice {
  background: radial-gradient(closest-side ellipse, $water_color, transparent);
}

.combattant.air .choice {
  background: radial-gradient(closest-side ellipse, $air_color, transparent);
}

.combattant.terre .choice {
  background: radial-gradient(closest-side ellipse, $earth_color, transparent);
}


.choiceAnimation {
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  animation-name: choiceAnimation;
}

@keyframes choiceAnimation {
  from {
    opacity: 0;
    transform: scale(2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


#book_deco {
  display: block;
  width: $deco_width;
  height: 0;
  padding-bottom: $deco_width;
  margin: auto;
  opacity: 1;
  background: url(../../assets/flipbook-textures/zodiac_arena.png),
    radial-gradient(circle closest-side, rgb(255, 235, 120) 3%, gold, rgba(255, 255, 255, 0.5) 96%, transparent),
  ;
  @include bg-single-contain-center;

  &.zodiacAttackEffect::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../assets/flipbook-textures/zodiac_circle.png);
    background-blend-mode: multiply;
    @include bg-single-contain-center;
    animation: zodiacCircle 2s forwards;
  }

  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  #dialog_banner {
    width: 150%;
    height: 100%;
    position: absolute;
    top: -30%;
    left: 50%;
    z-index: 11;
    opacity: 1;
    transform: translateX(-50%);
    background: url(../../assets/flipbook-textures/curved_ribbon_filled.png);
    @include bg-single-contain-center;
    background-position: top;

    .suivi_conteneur {
      .suiviCombat {
        position: absolute;
        @include bg-single-contain-center;
        top: 2vw;
        left: 50%;
        transform: translate(-50%, 0%);
        height: fit-content;

        // overflow: auto;
        * {
          overflow: visible;
        }

        font-weight: bold;
        text-align: center;
        color: $text-color;
        // background-color: rgba(255, 0, 0, 0.41);
        width: 60%;
        z-index: 66666666666666;
        animation: itemGlow 2s infinite alternate;

        .start_banner {
          font-size: 50% !important;
          font-family: bronzion;
          fill: darken($title-color-pri, 60);
          text-shadow: 0 0 10px $title-color-sec;
          opacity: 0.5;
        }

        .round_success {
          fill: rgba(0, 100, 0, 0.818);
          text-shadow: 0 0 10px rgb(255, 255, 255);
        }

        .round_failure {
          fill: rgba(139, 0, 0, 0.778);
          text-shadow: 0 0 10px rgb(255, 255, 255);
        }

        .round_tie {
          fill: $text-color;
          text-shadow: 0 0 10px rgb(255, 255, 255);
        }

        textPath {
          tspan {
            font-size: 25%;

            &.degat {
              fill: white;
              text-shadow: 0 0 3px black, 0 0 5px black, 0 0 10px black;
            }
          }
        }
      }
    }
  }

  #magic_ring {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse closest-side, black, transparent),
      url(../../assets/flipbook-textures/zodiac_ring.png);
    border-radius: 100%;
    @include bg-single-contain-center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
    transform: scale(1.3);
    animation: magicRing2 3s infinite linear;
    transform-origin: center;
  }

  // &.activeBookFirst #magic_ring{
  //   animation: magicRing2 6s infinite linear;
  // }
  // &.activeBookSecond #magic_ring{
  //   animation-duration: 3s;
  // }

  #magic_vortex {
    background-color: red;
    width: 100%;
    height: 100%;
    background: //radial-gradient( ellipse closest-side, black, transparent),
      url(../../assets/flipbook-textures/vortex.png);
    @include bg-single-contain-center;
    position: absolute;
    top: 0;
    left: 0;
    animation: magicVortex 3s infinite linear;
    z-index: -1;
    opacity: 1;
    transition: 0.5s;
  }

  &.activeBookSecond #magic_vortex {
    opacity: 1;
  }

  &.activeBookGo {
    filter: blur(10px)contrast(2)brightness(5);

    #magic_vortex {
      animation-duration: 1s;
    }

    #magic_ring {
      animation-duration: 2s;
    }
  }
}


@keyframes zodiacCircle {
  0% {
    transform: rotate(0deg)scale(1);
    opacity: 0;
  }

  10% {
    opacity: 0.7;
  }

  100% {
    transform: rotate(360deg)scale(1.5);
    filter: brightness(2)hue-rotate(45deg)blur(10px);
    opacity: 0;
  }
}

@keyframes magicRing2 {
  0% {
    transform: rotate(0deg)scale(1.3);
    filter: blur(3px)brightness(0.3)drop-shadow(0px 0px 20px rgb(60, 0, 255));
    box-shadow: 1px 1px 1px green, 1px 1px 5px green;
  }

  50% {
    transform: rotate(180deg)scale(1.2, 1.4);
    filter: blur(1px)brightness(10)drop-shadow(0px 0px 20px red)contrast(100);
    box-shadow: 0px 0px 1px blue, 0px 0px 5px blue;
  }

  100% {
    transform: rotate(360deg)scale(1.3);
    filter: blur(3px)brightness(0.3)drop-shadow(0px 0px 20px rgb(17, 255, 0));
    box-shadow: -1px -1px 1px red, -1px -1px 5px red;
  }
}

@keyframes magicVortex {
  0% {
    transform: rotate(0deg)scale(0.25, 0.3);
    filter: blur(10px)brightness(0.3)drop-shadow(0px 0px 20px rgb(60, 0, 255));
  }

  50% {
    transform: rotate(180deg)scale(0.3, 0.25);
    filter: blur(5px)brightness(10)drop-shadow(0px 0px 20px red);
  }

  100% {
    transform: rotate(360deg)scale(0.25, 0.3);
    filter: blur(10px)brightness(0.3)drop-shadow(0px 0px 20px rgb(17, 255, 0));
  }
}


.suiviAnimation {
  animation: suiviAnimation 0.5s forwards, suiviShake 0.5s;
}

@keyframes suiviAnimation {
  from {
    opacity: 1;
    filter: blur(10px)drop-shadow(0 0 10px red);
  }

  to {
    opacity: 1;
    filter: blur(0px)drop-shadow(0 0 0 black);
  }
}

@keyframes suiviShake {
  0% {
    transform: translateX(16px);
  }

  10% {
    transform: translateX(-16px);
  }

  20% {
    transform: translateX(8px);
  }

  30% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(4px);
  }

  50% {
    transform: translateX(-4px);
  }

  60% {
    transform: translateX(2px);
  }

  70% {
    transform: translateX(-2px);
  }

  80% {
    transform: translateX(1px);
  }

  90% {
    transform: translateX(-1px);
  }

  100% {
    transform: translateX(0px);
  }
}


#spinner_container {
  // background-color: red;
  // display: none;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  padding-bottom: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transform-origin: bottom;
  animation: spinSpinner 60s linear infinite;

  #combat_spinner {
    // background: url(../../assets/weapons/weapons1.png);
    // background: url(../../assets/flipbook-textures/magic_arrow.png);
    @include bg-single-contain-center;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%)rotate(0deg);

    &::after {
      content: "";
      position: absolute;
      opacity: 0.95;
      // arrow shape:
      // transform: translateX(-50%);
      // width: 0;
      // height: 0;
      // border-style: solid;
      // border-width: 0 1vw 3vw 1vw;
      // border-color: transparent transparent gold transparent;
      // image:
      width: 100%;
      height: 50%;
      top:0;
      left: 50%;
      // transform: translateX(-50%);
      animation: spinSpinner 60s reverse linear infinite, sunAnimate 10s alternate infinite;
      background: url(../../assets/flipbook-textures/sun_moon.png),
      radial-gradient(circle closest-side ,goldenrod, transparent);
      @include bg-single-contain-center;
    }
  }
}

@keyframes spinSpinner {
  from {
    transform: translate(-50%, 0)rotate(0deg);
  }

  ;

  to {
    transform: translate(-50%, 0)rotate(360deg);
  }

}

@keyframes sunAnimate {
  0%{
    filter: brightness(1)drop-shadow(-10px -10px 2px cyan);
    height: 45%;
  }
  50%{
    filter: brightness(2)drop-shadow(0 0 5px purple);
    height: 55%;
  }
  100%{
    filter: brightness(2)drop-shadow(10px 10px 2px yellow);
    height: 50%;
  }

}

svg#spinner_target {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;

  circle {
    fill: transparent;
    stroke: rgba(255, 0, 0, 0.5);
    stroke-width: 3vw;
    stroke-dasharray: 100vw;
    stroke-dashoffset: 95vw;
    // animation: rotate 5s linear infinite;
  }
}

@keyframes rotate {
  to {
    stroke-dashoffset: 0;
  }
}


@keyframes itemGlow {
  from {
    filter: brightness(0.7);
  }

  to {
    filter: brightness(1.3);
  }
}

:root{
  --time-to-impact: 0.5s;
  --winner_color: black;
}

.round_winner .img_wrapper {
  &.img_player {
    animation: roundWinner_player var(--time-to-impact);
  }

  ;

  &.img_adv {
    animation: roundWinner_adv var(--time-to-impact);
  }

  ;
  position: relative;
  z-index: 999999999999999999999999;

  &.img_player .attack,
  &.img_adv .attack {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 1;
    transform-origin: center;
    background-blend-mode: multiply;
    pointer-events: none;
  }

  &.feu .attack {
    background: url(../../assets/flipbook-textures/elemental_attack.png), radial-gradient(circle closest-side, $fire_color 70%, transparent);
    @include bg-single-contain-center
  }

  &.eau .attack {
    background: url(../../assets/flipbook-textures/elemental_attack.png), radial-gradient(circle closest-side, $water_color 70%, transparent);
    @include bg-single-contain-center
  }

  &.terre .attack {
    background: url(../../assets/flipbook-textures/elemental_attack.png), radial-gradient(circle closest-side, $earth_color 70%, transparent);
    @include bg-single-contain-center
  }

  &.air .attack {
    background: url(../../assets/flipbook-textures/elemental_attack.png), radial-gradient(circle closest-side, $air_color 70%, transparent);
    @include bg-single-contain-center
  }

  &.img_player .attack {
    animation: attackAnimation_player var(--time-to-impact) ease-in forwards;
  }

  &.img_adv .attack {
    animation: attackAnimation_adv var(--time-to-impact) ease-in forwards;
  }
}

$translateX: 90vw;
$rotate: 360deg;

@keyframes attackAnimation_player {
  0% {
    transform: translateX(0)scale(1)rotate(0deg);
    opacity: 0;
    filter: brightness(0.1);
  }

  10% {
    opacity: 1;
  }

  99% {
    transform: translateX($translateX)scale(3)rotate($rotate);
    opacity: 1;
    filter: brightness(3);
  }
  100% {
    opacity: 0;
  }
}

@keyframes attackAnimation_adv {
  0% {
    transform: translateX(0)scale(1)rotate(0);
    opacity: 0;
    filter: brightness(0.1);
  }

  10% {
    opacity: 1;
  }

  99% {
    transform: translateX(-90vw)scale(3)rotate(-$rotate);
    opacity: 1;
    filter: brightness(3);
  }
  100% {
    opacity: 0;
  }
}



$scale: 1.3;
$rotate: 5deg;
$brightness: 2;
$translateX: 5vw;

@keyframes roundWinner_player {

  0%,
  100% {}

  50% {
    transform: scale($scale)rotate($rotate)translateX($translateX);
    filter: brightness($brightness);
  }
}

@keyframes roundWinner_adv {

  0%,
  100% {}

  50% {
    transform: scale($scale)rotate(-$rotate)translateX(-$translateX);
    filter: brightness($brightness);
  }
}

.round_loser {
  animation: suiviShake var(--time-to-impact);
  animation-delay: calc(var(--time-to-impact) * 0.8);
}


.round_loser .img_wrapper {
  &.img_player {
    animation: roundLoser_player var(--time-to-impact);
  }

  &.img_adv {
    animation: roundLoser_adv var(--time-to-impact);
  }

  &.img_player,
  &.img_adv {
    animation-delay: calc(var(--time-to-impact) * 0.8);
  }
}

$scale: 0.8;
$grayscale: 0.8;
$blur: 5px;
$rotate: -10deg;
$translateX: -5vw;

@keyframes roundLoser_player {

  0%,
  100% {}

  50% {
    transform: scale($scale)rotate($rotate)translatex($translateX);
    filter: grayscale($grayscale)blur($blur);
  }
}

@keyframes roundLoser_adv {

  0%,
  100% {}

  50% {
    transform: scale($scale)rotate(-$rotate)translatex(-$translateX);
    filter: grayscale($grayscale)blur($blur);
  }
}


.round_tie .img_wrapper {
  animation: suiviShake 0.5s;
}

$finish-delay: 2s;

#combat_winner{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 1;
  z-index: 999999999999999999999999999999999999999999;
  pointer-events: none;
  div{
    transition: calc(var(--time-to-impact)*3);
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    &::after{
      content: "";
      width: 100%;
      height: 100%;
      top:0;
      left: 0;
      position: absolute;
      background: radial-gradient(transparent, var(--winner_color));
    }
  }
}


.finishedCombat {
  #combat_winner div{
    opacity: 0;
    animation: resultsReveal reverse var(--time-to-impact) forwards;
    background-color: black;
    animation-delay: $finish-delay;
    @include bg-single-contain-center;
    &.combat_winner_animation{
      animation: combat_winner_animation_player calc(var(--time-to-impact)*1.5) forwards;
    }
    &.combat_winner_animation.advWin{
      animation: combat_winner_animation_adv calc(var(--time-to-impact)*1.5) forwards;
    }
  }
  .round_loser, .round_winner{
    transition-duration: calc(var(--time-to-impact)/1);
    transition-delay: calc(var(--time-to-impact)/1);
    position: relative;
    img{
      transition: calc(var(--time-to-impact)/2);
    }
    &:after{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      animation: resultsReveal 3s forwards;
      animation-delay: calc(var(--time-to-impact)*1.3);
    }
  }
  .round_loser{
    img{
      filter: sepia(0.9);
    }
    &::after{
      background: url(../../assets/flipbook-textures/crossed_bones.png);
      @include bg-single-contain-center;
    }
  }
  .round_winner{
    img{
      filter: brightness(1.2)saturate(1.2);
    }
    &::after{
      background: url(../../assets/flipbook-textures/laurel.png);
      @include bg-single-contain-center;
    }
  }
  #battle_arena {
    transition: 2s;
    transition-delay: $finish-delay;
    opacity: 0;
    @include bg-single-contain-center;

    &::before { // changing background color on end of round
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--winner_color);
      opacity: 1;
      animation: finishMove 0.1s forwards;
      animation-delay: calc(var(--time-to-impact) * 0.95);
    }
  }
}


$winner_translate_x_i: -30vw;
$winner_translate_x_f:0vw;
$winner_translate_y_i:0vh;
$winner_translate_y_f:30vh;
$winner_scale_i: 1;
$winner_scale_f: 2;

@keyframes combat_winner_animation_player {
  0%{
    opacity: 0;
    transform: translateX($winner_translate_x_i)translateY($winner_translate_y_i)scale($winner_scale_i);
  }
  65%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateX($winner_translate_x_f)translateY($winner_translate_y_f)scale($winner_scale_f);
  }
}

@keyframes combat_winner_animation_adv {
  0%{
    opacity: 0;
    transform: translateX(-$winner_translate_x_i)translateY($winner_translate_y_i)scale(-$winner_scale_i, $winner_scale_i);
  }
  65%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateX(-$winner_translate_x_f)translateY($winner_translate_y_f)scale(-$winner_scale_f, $winner_scale_f);
  }
}

@keyframes finishMove {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}


.resultat_container {
  text-align: center;
  // margin-top: 100px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 30px;
  font-family: "lugrasimo";
  text-align: center;
  background-color: red;
  background: url("../../assets/flipbook-textures/wood-texture.jpeg"), radial-gradient($desk_highlight, $desk_dark);
  background-size: cover;
  background-blend-mode: multiply;
  // position: relative;
  // z-index: 1;


  .resultat {
    display: block;
    height: 150%;
    width: 50%;
    padding-top: 15%;
    margin: auto;
    background: url(../../assets/flipbook-textures/war_banner.png);
    @include bg-single-contain-center;
    animation: bannerRaise 2s;
    animation-delay: $finish-delay;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.958));
    position: relative;

    &#victory::before,
    &#defeat::before {
      content: "";
      top: -15%;
      left: 0%;
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      position: absolute;
      z-index: -1;
      opacity: 0.8;
      transform-origin: center;
    }

    &#victory::before {
      background: url(../../assets/flipbook-textures/god_bg_centered.png), radial-gradient(circle closest-side, yellow, transparent);
      @include bg-single-contain-center;
      animation: resultsLightEffectVictory 1s linear infinite;
    }

    &#defeat::before {
      background: url(../../assets/flipbook-textures/vortex.png), radial-gradient(circle closest-side, blue, transparent);
      filter: brightness(0.1);
      @include bg-single-contain-center;
      animation: resultsLightEffectDefeat 10s linear infinite;
    }

  }

  h2 {
    &::first-letter {
      font-family: bronzion;
      font-size: 3vw;
      color: $title-color-sec;
    }
  }

  p {
    // font-size: 3vw;
    width: 45%;
    display: block;
    margin: auto;

    &#victory {
      color: darkred;
      border-image: url(../../assets/flipbook-textures/victory_symbol.png) 0% 50% / 0vw 1vw / 0vw 0vw space;
    }

    &#defeat {
      color: $text-color;
      color: goldenrod;
      border-image: url(../../assets/flipbook-textures/defeat_symbol.png) 0% 50% / 0vw 1vw / 0vw 1vw space;
    }
  }

  .btn_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 99999999999999999;
    width: 30%;
    margin: auto;

    &#victory {
      border-image: url(../../assets/flipbook-textures/victory_border.png) 0% 50% / 0vw 7vw / 0vw 5vw space;
    }

    &#defeat {
      border-image: url(../../assets/flipbook-textures/defeat_banner.png) 0% 50% / 0vw 7vw / 0vw 5vw space;
    }

    button {
      min-width: 100%;
      cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
      border: none;
      padding: 2vmin;
      background: url("../../assets/flipbook-textures/fantasy-button.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.1s;
      color: $text-color;
      text-shadow: 0 0 3px white;

      &:hover {
        filter: hue-rotate(50deg);
        text-shadow: 0 0 3px white, #ffbf51 1px 1px 10px;
        transform: scale(1.1);
      }

      &:active {
        color: white;
        transform: scale(1.2);
      }
    }
  }

  opacity: 0;
  animation-delay: $finish-delay !important;
  animation: resultsReveal var(--time-to-impact) forwards;
}

@keyframes resultsReveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes bannerRaise {
  0% {
    transform: translateY(100vh)rotate(2deg);
  }

  95% {
    transform: translateY(-1vh)rotate(-0.5deg);
  }

  100% {
    transform: translateY(0vh)rotate(0deg);
  }

}

@keyframes resultsLightEffectVictory {

  0%,
  100% {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(1.05);

  }

  50% {
    opacity: 0.8;
    filter: blur(5px);
    transform: scale(1);
  }
}

@keyframes resultsLightEffectDefeat {
  0% {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(1.05)rotate(0deg);
  }

  50% {
    opacity: 0.8;
    filter: blur(5px);
    transform: scale(1)rotate(-180deg);
  }

  100% {
    opacity: 0.7;
    filter: blur(1px);
    transform: scale(1.05)rotate(-360deg);
  }
}

.combat_leave{
  transition:opacity var(--combat-leave-duration);
  opacity: 0;
  background: black ;
}



.combat_leave_blackout{
  &::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    animation: blackout 1s forwards;
  }
}

@keyframes blackout {
  from{
    background-color: transparent;
  }
  to{
    background-color: black;
  }
}