<body>
<h1>Gestion des créatures</h1>

<div class="card mt-3">
    <div class="card-header">
        Liste des creatures
    </div>
    <div class="card-body"> 
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>nom</th>
                    <th>description</th>
                    <th>dieu</th>
                    <th>attaque</th>
                    <th>pv</th>
                    <th>image</th>
                    <th>mythologie</th>
                    <th>type_element</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of list() | async">
                    <td>{{c.id}}</td>
                    <td>{{c.nom}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.dieu! | dieu}} </td>
                    <td>{{c.attaque}}</td>
                    <td>{{c.pv}}</td>
                    <!--<td>{{c.image}}</td>-->
                    <td><img width="30px" height="30px" [src]="c.image"/></td>
                    <td>{{c.mythologie}}</td>
                    <td>{{c.typeElement}}</td>
                    <td><div class="btn-group btn-group-sm">
                        <a (click)="edit(c.id)" class="btn btn-primary"><i class="bi bi-pen"></i></a>
                        <a (click)="remove(c.id)" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                      </div></td>
                </tr>
             
            </tbody>

        </table>
      
        
    </div>
    <div class="card-footer">
        <a (click)="add()" class="btn btn-success btn-lg"><i class="bi bi-plus-lg"></i></a>
        <a (click)="retour()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div>
</div>


 <div class="card mt-3" *ngIf="showForm">
    <form (ngSubmit)="save()" [formGroup]="creatureForm">
    <div class="card-header">
        Edition d'une creature
    </div>
    <div class="card-body"> 
        <div class="mb-3 mt-3">
            <label for="id" class="form-label">Id</label>
            <input type="number" class="form-control" id="id" name="id" readonly formControlName="id">
        </div>
        <div class="mb-3">
            <label for="nom" class="form-label">Nom:</label>
            <input type="text" class="form-control" id="nom" name="nom" formControlName="nom">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input type="text" class="form-control" id="description" name="description" formControlName="description">
        </div>
        <div class="mb-3">
            Dieu :  <input type="checkbox" class="form-check-input" name="dieu" formControlName="dieu">
        </div> 
        <div class="mb-3">
            <label for="attaque" class="form-label">Attaque:</label>
            <input type="number" class="form-control" id="attaque" name="attaque" formControlName="attaque">
        </div>
        <div class="mb-3">
            <label for="pv" class="form-label">Pv:</label>
            <input type="number" class="form-control" id="pv" name="pv" formControlName="pv">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image:</label>
            <input type="text" class="form-control" id="image" name="image" formControlName="image">
        </div>
        <div class="mb-3">
            <label for="mythologie" class="form-label">Mythologie:</label>
            <select class="form-control" id="image" name="mythologie" formControlName="mythologie">
                <option></option>
                <option value="grec">Grec</option>
                <option value="egyptienne">Egyptienne</option>
                <option value="chinoise">Chinoise</option>
                <option value="nordique">Nordique</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="typeElement" class="form-label">Type_Element:</label>
            <select class="form-control" id="typeElement" name="typeElement" formControlName="typeElement">
                <option></option>
                <option value="feu">Feu</option>
                <option value="air">Air</option>
                <option value="eau">Eau</option>
                <option value="terre">Terre</option>
            </select>
        </div>
    </div>
    
    <div class="card-footer">
        <button type="submit" [disabled]="creatureForm.invalid" class="btn btn-success btn-lg"><i class="bi bi-check-lg"></i></button>
        <a (click)="cancel()" class="btn btn-warning btn-lg mx-2"><i class="bi bi-backspace"></i></a>
    </div> 
    </form>
</div>
</body>
