@font-face {
    font-family: "Stempel-Garamond-W01-Roman";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Stempel-Garamond-W01-Roman.woff");
  }
  @font-face {
    font-family: "Lugrasimo";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf");
  }
  @font-face {
    font-family: "bronzion";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/bronzion_deco/BronzionDeco_PERSONAL_USE_ONLY.otf");
  }
  @font-face {
    font-family: "eb_garamond";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/EB_Garamond/EBGaramond-Italic-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "grandiflora";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Grandiflora_One/GrandifloraOne-Regular.ttf");
  }
  @font-face {
    font-family: "notoserif_jp";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Noto_Serif_JP/NotoSerifJP-Regular.otf");
  }
  @font-face {
    font-family: "notoserif_tc";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/Noto_Serif_TC/NotoSerifTC-Regular.otf");
  }


  body {
    background: url("../../assets/flipbook-textures/wood-texture.jpeg"), radial-gradient(#e6b664, #000325);
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed ;
    width: 100vw;  /* 50% de la largeur de la fenêtre */
    height: 100%;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
    font-family: "Lugrasimo";
  }

  header{
    position: relative;
    padding-top: 30px;
  }

  h1 {
    font-family: "bronzion";
    font-size: 36px;
    text-align: center;
    background: url(../../assets/flipbook-textures/scroll2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    padding: 145px;
    margin: auto;
    width: fit-content;
    &::first-letter{
      color: rgb(103, 0, 0);
      font-size: 70px
    }
    animation: scrollAppear 1s ease-out;
  }



 @keyframes scrollAppear {
  from{
    transform: scale(0.5,0.75);

  }
  to{
    transform: scale(1,1);
  }
 }


 h2 {
  color: rgba(119, 0, 0, 0.68);
  display: flex;
  align-items: end;
  justify-content: center;
  font-family: "Lugrasimo";
  background: url(../../assets/flipbook-textures/infiniteScroll/top.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  width: 100%;
  height: 275px;
  font-size: 30px;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  span{
    font-family: "bronzion";
    color: rgba(1, 79, 37, 0.668);
    font-size: 75px
  }
}

.card {

  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00000000;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 10px;
}

.card-body{
  background: url(../../assets/flipbook-textures/infiniteScroll/middle.png);
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


table{
  width: 80%;
}


thead{
  position: sticky;
  top:0px;
  background: url(../../assets/flipbook-textures/frieze.png), rgba(202, 84, 0, 0.911);
  background-blend-mode:soft-light;
  background-size: contain;
  background-position: top;
  height: 100px;
  color: white;
  th{
    text-align: center;
  }
}



  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #8b4513;
    border-radius: 5px;
    color: #fff;
    background-color: #8b4513;
  }



  table td {
    align-items: center;
    border: 1px solid #8b4513;
    padding: 10px;
    text-align: center;
    min-width: 70px;
  }


  .btn-group{
    display: flex;
    flex-direction: column;
  }