@font-face {
    font-family: "bronzion";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/bronzion_deco/BronzionDeco_PERSONAL_USE_ONLY.otf");
  }


@font-face {
    font-family: 'Lugrasimo';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf');
  }

:root {
    --text-color: rgb(71, 0, 0);
    --paper-color-l: rgb(255, 251, 212);
    --paper-color-d: rgb(100, 79, 30);
    --paper-texture: url("../../assets/flipbook-textures/natural-paper.png");
    /* --paper-texture: url(../pics/black-paper.png); */
    /* --paper-texture: url(../pics/old-paper-texture.webp); */
    /* Candlelight effect */
    --color-overlay-l: #ffd58d;
    --color-overlay-d: #00021e;
    --blur-overlay-l: 60%;
    --fire_light_effect-radial: radial-gradient(var(--color-overlay-l) var(--blur-overlay-l), var(--color-overlay-d) 75%);
    --fire_light_effect-linear: linear-gradient(var(--color-overlay-l) var(--blur-overlay-l) 90%, var(--color-overlay-d) 100%);
    --fire_light_effect-uniform: var(--color-overlay-l);
    --fire_light_effect-pages: radial-gradient(var(--color-overlay-l) var(--blur-overlay-l), rgba(0,0,0,0) 75%);
  }
body, html {
    height: 100%;
    overflow: hidden;
    font-family: "Lugrasimo";
  }

body {
    background: url("../../assets/flipbook-textures/wood-texture.jpeg"), radial-gradient(#e6b664, #000325);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100vw;  /* 50% de la largeur de la fenêtre */
    height: 100vh;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }


 .formulaire{
  position: relative;
  z-index: 1;
  background: url("../../assets/flipbook-textures/dialog_scroll.png");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 80%;
  color: white;
  font-size: 25px;
  animation: scrollAppear 1s ease-out;
  transition: 1s ease-in-out;
  &:hover{
    transform: scale(1.05);
    .shield{
      transform: rotate(0deg)scale(1.1);
    }
  }
 }

 @keyframes scrollAppear {
  from{
    transform: scale(0,0.5);

  }
  to{
    transform: scale(1,1);
  }
 }

 .formulaire *:not(.text-danger) {
  opacity: 0;
  animation: contentAppear 1s ease-in;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
 }


 @keyframes contentAppear {
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
 }


 .titre{
  display: flex;
    align-items: center;
    justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
  border: 10px double rgba(0, 255, 0, 0.1);
  border-radius: 1% 1% 50% 50%;
  position: relative;
  background-color:rgba(245, 245, 220, 0.555);
  font-size: 40px;

  font-family: bronzion;
  color: darkred;
  text-shadow: 1px 1px 1px rgba(0, 128, 0, 0.501);

 }

 label{
  width: 100%;
  color: rgba(67, 2, 2, 0.824);
  text-align: center;
 }

 /* Appliquer des styles généraux aux champs de texte */
input {
  width: 500px;
  padding: 10px;
  margin: 5px;
  border: 1px dashed #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #d8ba856b;
  cursor: url("../../assets/cursors/feather.png"), pointer ;
}

/* Appliquer des styles spécifiques au survol du champ de texte */
input:hover {
  border-color: #333;
}

/* Appliquer des styles spécifiques au focus sur le champ de texte */
input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  background-color: rgba(255, 128, 0, 0.1);
  animation: inputFocus 1s infinite alternate;
}


.button_group{
  display: flex;
  justify-content: center;
  gap: 10px;
  > *{
    min-width: 200px;
    height: 50px;
    padding: 0;
    margin-top: 10px;
    border: none;
    background: url("../../assets/flipbook-textures/fantasy-button.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: bold;
    margin-right: 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
    &:hover{
      filter: hue-rotate(50deg);
      text-shadow: #342101 1px 1px 10px;
      transform: scale(1.1);
    }
    cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer ;
  }
  a button{
    background: none;
    padding: none;
    border: none;
    height: 100%;
    cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer ;
    box-shadow: none;
  }
}

.shield{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: bronzion;
  writing-mode: vertical-rl;
  text-orientation: upright;
  color: rgba(255, 111, 111, 0.486);
  width: 30%;
  height: 50%;
  top:10px;
  background: url(../../assets/flipbook-textures/shield.png), radial-gradient(black, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right:10%;
  transform: rotate(10deg);
  span{
    font-size: 60px;
    font-weight: bold;
    color: rgb(84, 87, 255);
  }
  transition: 1s;
}



.text-danger{
  position: absolute;
  bottom:0px;
  right: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(50%);
  animation: dangerAppear 0.3s ease-in, dangerAnimate 0.3s ease-in-out infinite alternate;
  &.pass-danger{
    bottom:30px;
  }
  &.user-danger{
    bottom:20px;
  }
}

@keyframes dangerAppear {
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}

@keyframes dangerAnimate{
  0%{
    text-shadow: 0 0 8px rgba(0, 0, 255, 0.503);
  }

  50%{
    text-shadow: 0 0 12px rgba(85, 0, 255, 0.484);
  }

  100%{
    text-shadow: 0 0 5px rgba(0, 183, 255, 0.598);
  }
}