
<body>
<div class="formulaire">
    <form [formGroup]="connexionForm" (ngSubmit)="connexion()">
    <div class="titre">
        Connexion
    </div>
    <div class="card-body">

        <div >
            <label for="login" class="form-label">Login:</label>
            <input type="text" class="form-control" id="login" name="login" formControlName="login">
            <span class="text-danger" *ngIf="loginCtrl.dirty && loginCtrl.hasError('required')">Le login est obligatoire</span>
        </div>
        <div >
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
            <span class="text-danger user-danger" *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">Le login est obligatoire</span>
            <span class="text-danger pass-danger" *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('minlength')">Le mot passe doit avoir au moins 5 caractères</span>
        </div>
    </div>
    <div class="button_group">
        <button type="submit" [disabled]="connexionForm.invalid">Se connecter</button>
        <a  [routerLink]="['/menu']" routerLinkActive="active">
            <button type="button" class="button">Retour</button>
        </a>
    </div>
    </form>
    <div class="shield"><span>M</span>ythik</div>
</div>

<app-chains></app-chains>

</body>