
  <section>
    <app-grimoire [exitGrimoire]="exitGrimoire"></app-grimoire>

    <div class="desktop_prop" id="map">
      <img src="../../assets/flipbook-textures/map.png">
    </div>

    <div class="desktop_prop" id="zodiac">
      <img src="../../assets/flipbook-textures/old-paper-texture_alt.png">
    </div>

    <div class="desktop_prop" id="book_greek">
      <img src="../../assets/flipbook-textures/oldbook.png">
    </div>

    <div class="desktop_prop" id="book_japanese">
      <img src="../../assets/flipbook-textures/japanese-paper.png">
    </div>

    <div id="padlock"></div>
    <div id="login">
      <div id="connect">Connexion</div>
      <div id="key"></div>
    </div>


    <div>
      <div id="retour_grimoire">
        <!-- <a [routerLink]="['/accueil']" routerLinkActive="active"> -->
        <a>
          <button type="button" class="button" (click)="exitAnimation()"
          (mouseenter)="exitHover(0.05)" (mouseleave)="exitHover(0.01)"
          >Retour</button>
        </a>
        <div id="page_marker"></div>
      </div>
    </div>

    <div id="insect_track">
      <img src="../../assets/flipbook-textures/cockroach.gif" alt="">
  </div>
  </section>
