@use '../../mixins' as *;
@use '../../variables' as *;

section #desktop_glow{ // do not remove
	background: url(../../assets/flipbook-textures/wood-texture_glow.png);
}


$propshadow: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
#map{
	position: absolute;
	top:-40%;
	left: -10%;
	z-index: -2;
	img{
	display: flex;
	height: 60vmin;
	// width: 100%;
	transform:rotate(30deg);
	filter:brightness(0.7) $propshadow;
}
}


#zodiac{
	width: fit-content;
	height: 50vmin;
	background-image: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
	display: flex;
	position: absolute;
	bottom:-10%;
	left:40%;
	height: 60%;
	transform:rotate(50deg);
	z-index: -2;
	justify-content: center;
	filter:brightness(0.7) $propshadow;
	&:after{
		content:"";
		position: absolute;
		display: flex;
		height: 70%;
		width: 70%;
		margin-top: 40px;
		align-content: center;
		background-image: url(../../assets/flipbook-textures/astrology_print.png);
		background-size: contain;
		background-repeat: no-repeat;
		opacity: 0.2;
	}
}


#book_greek{
	img{
	display: flex;
	position: absolute;
	top:10%;
	left:-10%;
	height: 70vmin;
	// width: 100%;
	transform:rotate(50deg);
	filter:brightness(0.8) $propshadow;
	z-index: 0;
}
}

#book_japanese{
	img{
	display: flex;
	position: absolute;
	top:-5%;
	right:-20%;
	height: 55vmin;
	// width: 100%;
	transform:rotate(-30deg);
	z-index: 0;
	filter:brightness(0.6) $propshadow;
}
}


#padlock{
	display: none;
	height: 150px;
	width:70px;
	top:45%;
	right:240px;
	position: absolute;
	background-image: url(../../assets/flipbook-textures/lock.png),radial-gradient(rgb(0, 0, 0,1), rgba(0,0,0,0) 50%);
	background-size: contain;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
	z-index: 3;
}

#login{
	display: none;
	position: absolute;
	// box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.217);
	filter: brightness(0.8);
	left: 400px;
	top: 200px;
	text-align: center;
	background-image: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
	background-size: contain;
	background-repeat: no-repeat;
	transform: rotate(-20deg);
	font-family: "Lugrasimo";
	#connect{
		position: absolute;
		opacity: 0.8;
		top: 50px
	}
	#key{
		height: 250px;
		position: relative;
		width: 100px;
		background:  url(../../assets/flipbook-textures/key.png), radial-gradient(#00000082, #00000000 50%);
		border-radius: 50%;
		transform: rotate(50deg);
		background-blend-mode: lighten;
		background-size: contain;
		background-repeat: no-repeat;
		animation: pulse 2s infinite;
		transition: 1s;
		z-index: 1000;
		&:hover{
			transform: scale(1.3)rotate(70deg);
		}
	}
}

@keyframes pulse {
	0%{
		filter:brightness(1) $propshadow;
	}
	50%{
		filter:brightness(2) $propshadow;
	}
	100%{
		filter:brightness(1) $propshadow;
	}
}


.desktop_prop{
	animation: booksAppear 1s ease-in;
	opacity: 0;
	animation-fill-mode: forwards;
	user-select: none;
	pointer-events: none;
}

@for $i from 1 through 5 {
    .desktop_prop:nth-child(#{$i}) {
		animation-delay: calc(#{$i} * 0.2s);
    }
}

@keyframes booksAppear{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}



#retour_grimoire{
	display: flex;
	align-items: center;
	position: absolute;
	//filter: brightness(0.8);
	left: 1vmin;
	bottom: 1vmin;
	//transform: rotate(-20deg);
	font-family: "Lugrasimo";
	animation: booksAppear 2s;
	button{
		cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
		transition: 0.1s;
		font-size: 1.5vw;
		z-index: 1000;
		position: absolute;
		opacity: 1;
		color: $text-color;
		bottom: 1vw;
		padding: 5vw;
		background: none;
		border: none;
		filter: $propshadow;
		background: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
		@include bg-single-contain-center;
		&:after{
			content: "";
			height: 70%;
			width: 70%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			background: url(../../assets/flipbook-textures/cyclops.png);
			@include bg-single-contain-center;
			opacity: 0.1;
			transition: 0.3s;
			z-index: -1;
		}
	}

	#page_marker{
		height: 9vw;
		width: 9vw;
		position: relative;
		bottom:1vw;
		left: 0vw;
		background:  url(../../assets/flipbook-textures/dagger.png);
		@include bg-single-contain-center;
		animation: pulse 2s infinite;
		transition: 1s;
		z-index: 1000;
		pointer-events: none;
	}
	&:hover {
	button{
		color: $title-color-pri;
		&::after{
			opacity: 0.5;
		}
	}
	#page_marker{
		transform: scale(1.3)rotate(80deg);
		bottom:1vw;
		left: 7vw;
	}
	}
	&:active {
		button{
			text-shadow: 0 0 3px $title-color-sec;
			transform: rotate(5deg)scale(1.1);
			&:after{
				filter: drop-shadow(0 0 10px $title-color-sec)
			}
		}
		}
	button.exitButtonTrigger{
		&:after{
			transform: translate(-100%,-50%)rotate(-20deg);
			transition: 2s;
		}
	}
}


// exit animation(s)
.exitAnimation{
	animation: exitAnimation 0.5s ease-in-out;
	animation-fill-mode: forwards;
  }

  @keyframes exitAnimation {
	0%{
	  opacity: 1;
	//   transform: translateY(0);
	}
	50%{
	}
	100%{
	  opacity: 0;
	//   transform: translateY(-10vh);
	}
  }


  #insect_track{
	position: absolute;
	width: 200vw;
	height: 10vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transform-origin: center;
	z-index: -1; // place below books, above paper sheets
	// background-color: rgba(204, 0, 0, 0.448);
	img{
		position: absolute;
		right:0%; // if change is needed, function in .ts probably must be updated too
		width: 10vmax;
		height: auto;
		background: radial-gradient(closest-side,black, transparent 35%);
		filter: drop-shadow(0 0 3px black);
	}
}