#map img {
  display: flex;
  position: absolute;
  top: -40%;
  left: -10%;
  height: 60vmin;
  transform: rotate(30deg);
  z-index: 0;
  filter: brightness(0.7) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

#zodiac {
  width: -moz-fit-content;
  width: fit-content;
  height: 50vmin;
  background-image: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
  display: flex;
  position: absolute;
  bottom: -10%;
  left: 40%;
  height: 60%;
  transform: rotate(50deg);
  z-index: 0;
  justify-content: center;
  filter: brightness(0.7) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}
#zodiac:after {
  content: "";
  position: absolute;
  display: flex;
  height: 70%;
  width: 70%;
  margin-top: 40px;
  align-content: center;
  background-image: url(../../assets/flipbook-textures/astrology_print.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
}

#book_greek img {
  display: flex;
  position: absolute;
  top: 10%;
  left: -10%;
  height: 70vmin;
  transform: rotate(50deg);
  filter: brightness(0.8) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  z-index: 0;
}

#book_japanese img {
  display: flex;
  position: absolute;
  top: -5%;
  right: -20%;
  height: 55vmin;
  transform: rotate(-30deg);
  z-index: 0;
  filter: brightness(0.6) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
}

#padlock {
  display: none;
  height: 150px;
  width: 70px;
  top: 45%;
  right: 240px;
  position: absolute;
  background-image: url(../../assets/flipbook-textures/lock.png), radial-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0) 50%);
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: lighten;
  z-index: 3;
}

#login {
  display: none;
  position: absolute;
  filter: brightness(0.8);
  left: 400px;
  top: 200px;
  text-align: center;
  background-image: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-20deg);
  font-family: "Lugrasimo";
}
#login #connect {
  position: absolute;
  opacity: 0.8;
  top: 50px;
}
#login #key {
  height: 250px;
  position: relative;
  width: 100px;
  background: url(../../assets/flipbook-textures/key.png), radial-gradient(rgba(0, 0, 0, 0.5098039216), rgba(0, 0, 0, 0) 50%);
  border-radius: 50%;
  transform: rotate(50deg);
  background-blend-mode: lighten;
  background-size: contain;
  background-repeat: no-repeat;
  animation: pulse 2s infinite;
  transition: 1s;
  z-index: 1000;
}
#login #key:hover {
  transform: scale(1.3) rotate(70deg);
}

@keyframes pulse {
  0% {
    filter: brightness(1) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  }
  50% {
    filter: brightness(2) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  }
  100% {
    filter: brightness(1) drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  }
}
.desktop_prop {
  animation: booksAppear 1s ease-in;
  opacity: 0;
  animation-fill-mode: forwards;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.desktop_prop:nth-child(1) {
  animation-delay: calc(1 * 0.2s);
}

.desktop_prop:nth-child(2) {
  animation-delay: calc(2 * 0.2s);
}

.desktop_prop:nth-child(3) {
  animation-delay: calc(3 * 0.2s);
}

.desktop_prop:nth-child(4) {
  animation-delay: calc(4 * 0.2s);
}

.desktop_prop:nth-child(5) {
  animation-delay: calc(5 * 0.2s);
}

@keyframes booksAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#retour_grimoire {
  display: flex;
  align-items: center;
  position: absolute;
  left: 1vmin;
  bottom: 1vmin;
  font-family: "Lugrasimo";
}
#retour_grimoire button {
  cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
  transition: 0.1s;
  font-size: 1.5vw;
  z-index: 1000;
  position: absolute;
  opacity: 1;
  color: rgb(71, 0, 0);
  bottom: 1vw;
  padding: 5vw;
  background: none;
  border: none;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  background: url(../../assets/flipbook-textures/old-paper-texture_alt.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#retour_grimoire button:after {
  content: "";
  height: 70%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../../assets/flipbook-textures/cyclops.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.1;
  transition: 0.3s;
  z-index: -1;
}
#retour_grimoire #page_marker {
  height: 9vw;
  width: 9vw;
  position: relative;
  bottom: 1vw;
  left: 0vw;
  background: url(../../assets/flipbook-textures/dagger.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: pulse 2s infinite;
  transition: 1s;
  z-index: 1000;
  pointer-events: none;
}
#retour_grimoire:hover button {
  color: rgb(193, 0, 0);
}
#retour_grimoire:hover button::after {
  opacity: 0.5;
}
#retour_grimoire:hover #page_marker {
  transform: scale(1.3) rotate(80deg);
  bottom: 1vw;
  left: 7vw;
}
#retour_grimoire:active button {
  text-shadow: 0 0 3px rgb(0, 100, 0);
  transform: rotate(5deg) scale(1.1);
}
#retour_grimoire:active button:after {
  filter: drop-shadow(0 0 10px rgb(0, 100, 0));
}
#retour_grimoire button.exitButtonTrigger:after {
  transform: translate(-100%, -50%) rotate(-20deg);
  transition: 2s;
}

.exitAnimation {
  animation: exitAnimation 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes exitAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=desktop.component.css.map */