@font-face {
    font-family: "bronzion";
    font-style: normal;
    font-weight: normal;
    src: url("../../assets/fonts/bronzion_deco/BronzionDeco_PERSONAL_USE_ONLY.otf");
  }

@font-face {
    font-family: 'Lugrasimo';
    font-style: normal;
    font-weight: normal;
    src: url('../../assets/fonts/Lugrasimo/Lugrasimo-Regular.ttf');
  }

:root{
    --glowColor1: #016ada;
    --glowColor2: #00d8db;
  }


body, html {
    height: 100%;
    overflow: hidden;
    font-family: 'Lugrasimo';
  }

body {
    background: url("../../assets/flipbook-textures/wood-texture.jpeg"), radial-gradient(#e6b664, #000325);
    background-blend-mode: multiply;
    background-size: cover;
    width: 100vw;  /* 50% de la largeur de la fenêtre */
    height: 100vh;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
  }


 .section{
  opacity: 0;
  animation:  accueilAppear 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
 }

 @keyframes accueilAppear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
 }


 .boutons{
  position: absolute;
  display:flex;
  width: 100vw;
  justify-content: center;
  animation:  boutonsAppear 1s;
  margin-top: -300px;
  animation-fill-mode: forwards;
  animation-delay: 3s;

  .button{
      cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
      font-size: small;
      min-width: 200px;
      margin: 0px 10px;
  }
 }


 @keyframes boutonsAppear{
  from{
    margin-top: -300px;
  }
  to{
    margin-top: -20px;
  }
 }

  .button {
    display: inline-block;
    padding: 50px 20px 10px;
    height: 150px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    // background-color: #573d26; /* Couleur de fond avec une teinte terreux */
    background: url(../../assets/wooden_sign.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #0d0101ab; /* Couleur du texte */
    border: none;
    //border: 2px solid #8b735b; /* Bordure */
    // border-radius: 8px; /* Coins arrondis */
    // box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Ombre légère */
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
    transform-origin: top;
    transition: 0.3s;
    &:hover{
      color:white;
      text-shadow:  1px 1px 2px rgba(255, 0, 0, 0.764), 0 0 1em blue, 0 0 0.2em blue;
      animation: swing 1s infinite  ease-in-out;
    }
  }

  @keyframes swing {

    0%{
      transform: rotate(0deg);
    }
    25%{
      transform: rotate(-2deg);
    }
    50%{
      transform: rotate(0deg);
    }
    75%{
      transform: rotate(2deg);
    }
    100%{
      transform: rotate(0deg);
    }
  }





  .titre{
    margin-top: 100px;
    opacity: 0;
    background-image: url(../../assets/thunder2.gif);
    background-blend-mode: lighten;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-family: bronzion;
    color: rgba(67, 0, 0, 0.952);
    font-size: 100px;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
    animation: glowText 1s ease-in-out infinite alternate, titreAppear 3s 0.3s forwards;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    transition: 2s;
    &:hover{
      filter: brightness(2);
    }
  }

  @keyframes glowText {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glowColor1), 0 0 40px var(--glowColor1), 0 0 50px var(--glowColor1), 0 0 60px var(--glowColor1), 0 0 70px var(--glowColor1);
      // transform:translateX(0.5px);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px var(--glowColor2), 0 0 40px var(--glowColor2), 0 0 50px var(--glowColor2), 0 0 60px var(--glowColor2), 0 0 70px var(--glowColor2), 0 0 80px var(--glowColor2);
      transform: skew(90deg 90deg);
      // transform:translateX(-0.5px);
    }
    }

  @keyframes titreAppear{
  from{
    opacity: 0;
    transform: scale(3);
    filter: hue-rotate(180deg);
  }
  to{
    opacity: 1;
    transform: scale(1);
  }
  }

.accueil{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
}

.section{
    top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20vw;
    height: 60vh;
    border: 1px solid darkred;
    // box-shadow: 0 0 0 10px black;
    border-radius: 50%;
    position: relative;
    background-color:rgba(245, 245, 220, 0.555);
    font-family: bronzion;
    font-size: 25px;
    z-index: 10;
    cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
    a{
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: white !important;
      font-family: "Lugrasimo";
      height: 100%;
      width: 100%;
      border-radius: 50%;
      transition: 2s;
      text-decoration: none;
    }
    &:after{
      position: absolute;
      content:"";
      top:50%;
      left: 50%;
      height: 120%;
      width: 120%;
      opacity: 0.5;
      transform: translate(-50%,-50%);
      background-image: url(../../assets/fire_ring.gif);
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    transition: 0.1s ease-in-out;
    transition-delay: 0s;
    &:hover{
      transform: scale(1.05);
      a{
        text-shadow: #FC0 1px 0 10px;
        background: radial-gradient(red, blue);
        box-shadow: 0px 0px 350px blue;
      }
    }
}

.sec_grimoire{
  background: url("../../assets/flipbook-textures/grimoire-cover2.jpeg"), radial-gradient(purple,black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  #letterG{
    font-family: "bronzion";
    font-size: 50px;
  }
  &:hover #grimoire_deco{
    transform: scale(1.3)translate(-0px, -60px);
  }
  a{
    cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
  }
}

#grimoire_deco{
  pointer-events: none;
  user-select: none;
  transition: 0.3s;
  background-color: green;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  img{
    position: absolute;
    height: 300px;
    transform-origin: bottom;
  }
}

@for $i from 1 through 10 {
  #grimoire_deco img:nth-child(#{$i}) {
    bottom: calc(#{$i} * -10px);
    right: calc(#{$i} * -15px + 0px);
    padding-bottom: calc(#{$i} * 5px + 40px);;
    transform: rotate( calc(#{$i} * 23deg))scale(-1);
  }
}

.sec_combat{
  background: url("../../assets/flipbook-textures/cockatrice.png"), radial-gradient(red,black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  &:hover #combat_deco{
    transform: scale(1)translate(-50px, -300px);
  }
  a{
    cursor: url("../../assets/cursors/sword.cur"), pointer;
  }
}

#combat_deco{
  pointer-events: none;
  user-select: none;
  transition: 0.3s;
  background-color: green;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  img{
    position: absolute;
    height: 300px;
    transform-origin: bottom;
  }
}

@for $i from 1 through 15 {
  #combat_deco img:nth-child(#{$i}) {
    top: calc(#{$i} * 10px);
    left: calc(#{$i} * 15px);
    padding-bottom: calc(#{$i} * 5px);;
    transform: rotate( calc(#{$i} * 20deg));
  }
}


.chain_dissolve .chain{
  animation: chainBreak 10s;
  animation-fill-mode: forwards;
  animation-delay: 0s;
}


@keyframes chainBreak {
  0%{
    opacity: 1;
  }
  15%{
    filter: brightness(5)blur(50px);
    opacity: 0;
  }
  100%{
    opacity: 0;
    transform: scale(2);
    // filter: brightness(10);
  }
}
