.section {
  opacity: 0;
  animation: accueilAppear 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}

@keyframes accueilAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.boutons {
  position: absolute;
  margin-top: -3000px;
  top: 0px;
  display: flex;
  width: 100vw;
  justify-content: center;
  animation: boutonsAppear 1s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
}
.boutons a {
  text-decoration: none;
}

@keyframes boutonsAppear {
  from {
    margin-top: -300px;
  }
  to {
    margin-top: 5vh;
  }
}
.button {
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30vmin;
  height: 15vmin;
  margin: 0px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../../assets/wooden_sign_botton.png), radial-gradient(rgb(0, 0, 0), transparent 85%);
  filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.711));
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top;
  color: rgba(13, 1, 1, 0.6705882353);
  /* Couleur du texte */
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
  transform-origin: top;
  transition: 0.3s;
}
.button span {
  font-size: 2vmin;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}
.button img {
  width: 100%;
  padding: 30%;
  opacity: 0.3;
  position: absolute;
  z-index: 0;
  transition: 0.3s;
  filter: sepia(1);
}
.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 100%;
  background: url(../../assets/wooden_sign_top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  transition: 0.2s;
}
.button:hover {
  color: white;
  text-shadow: 1px 1px 2px rgba(255, 0, 0, 0.764), 0 0 1em blue, 0 0 0.2em blue;
  animation: swing 1s infinite ease-in-out;
}
.button:hover img {
  opacity: 0.8;
  filter: sepia(0);
}
.button:focus {
  animation: zoomIn 0.6s ease-in;
  position: relative;
  z-index: 1000;
  transform-origin: center;
}
.button:focus::before {
  opacity: 0;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes zoomIn {
  from {
    transform: scale(1) rotate(0deg);
    filter: blur(0px);
  }
  to {
    transform: scale(10) rotate(360deg);
    filter: blur(5px);
  }
}
.titre {
  font-size: 17.5vmin;
  margin-top: 20vmin;
  opacity: 0;
  background-image: url(../../assets/thunder2.gif);
  background-blend-mode: lighten;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  font-family: bronzion;
  color: rgba(67, 0, 0, 0.952);
  cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
  animation: glowText 2s ease-in-out infinite alternate, titreAppear 4s forwards;
  transition: 2s;
}
.titre, .titre * {
  pointer-events: none;
}
.titre:hover {
  filter: brightness(2);
}

@keyframes glowText {
  from {
    --glowColor1: #016ada;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--glowColor1), 0 0 40px var(--glowColor1), 0 0 50px var(--glowColor1), 0 0 60px var(--glowColor1), 0 0 70px var(--glowColor1);
    transform: translateX(0.5px);
  }
  to {
    --glowColor2: #00d8db;
    text-shadow: 0 0 20px #fff, 0 0 30px var(--glowColor2), 0 0 40px var(--glowColor2), 0 0 50px var(--glowColor2), 0 0 60px var(--glowColor2), 0 0 70px var(--glowColor2), 0 0 80px var(--glowColor2);
    transform: translateX(-0.5px);
  }
}
@keyframes titreAppear {
  from {
    opacity: 0;
    transform: scale(3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.accueil {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
}

.section {
  top: 25vmin;
  height: 50vmin;
  aspect-ratio: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid darkred;
  border-radius: 50%;
  position: relative;
  background-color: rgba(245, 245, 220, 0.555);
  font-family: bronzion;
  font-size: 15vmin;
  z-index: 10;
  cursor: url("../../assets/cursors/middle-ages-cursor-32x32.png"), pointer;
  filter: drop-shadow(6px 6px 5px rgba(0, 0, 0, 0.999));
  transition: 0.1s ease-in-out;
  transition-delay: 0s;
}
.section a {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white !important;
  font-family: "Lugrasimo";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: 2s;
  text-decoration: none;
}
.section a:focus {
  outline: none;
  filter: brightness(10) blur(100px);
  transform: scale(2);
}
.section a:focus + .deco {
  animation: chooseMode alternate 0.5s 2;
}
.section a:focus + .deco::before {
  content: "test";
  position: absolute;
  top: -100vh;
  height: 200vh;
  width: 200vw;
  animation: chooseBg alternate 0.5s 2;
}
.section a:focus + .deco img {
  transition: 0.5s !important;
  transition-delay: 0s !important;
  opacity: 0 !important;
}
.section:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 120%;
  width: 120%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  background-image: url(../../assets/fire_ring.gif);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.section:hover {
  z-index: 10000;
  transform: scale(1.05);
}
.section:hover a {
  text-shadow: #FC0 1px 0 10px;
  background: radial-gradient(red, blue);
  box-shadow: 0px 0px 350px blue;
}
.section:hover:before {
  content: "";
  position: absolute;
  pointer-events: none;
  background: radial-gradient(transparent, rgba(0, 0, 0, 0.75) 75%);
  width: 200vw;
  height: 200vh;
}

@keyframes chooseMode {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2) rotate(15deg);
  }
}
@keyframes chooseBg {
  from {
    background-color: transparent;
  }
  to {
    background-color: black;
  }
}
.sec_grimoire {
  background: url("../../assets/flipbook-textures/grimoire-cover2.jpeg"), radial-gradient(purple, black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sec_grimoire span {
  pointer-events: none;
}
.sec_grimoire #letterG {
  font-family: "bronzion";
  font-size: 10vmin;
}
.sec_grimoire a {
  cursor: url("../../assets/cursors/middle-ages-pointer-32x32.png"), pointer;
}

#grimoire_deco {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s;
  background-color: green;
  position: absolute;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
}
#grimoire_deco img {
  position: absolute;
  height: 40vmin;
  transform-origin: center;
  transform: scale(0.01);
}

#grimoire_deco img:nth-child(1) {
  transition: calc(1 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(1) {
  transform: rotate(calc(1 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(1 * 0.1s);
}

#grimoire_deco img:nth-child(2) {
  transition: calc(2 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(2) {
  transform: rotate(calc(2 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(2 * 0.1s);
}

#grimoire_deco img:nth-child(3) {
  transition: calc(3 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(3) {
  transform: rotate(calc(3 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(3 * 0.1s);
}

#grimoire_deco img:nth-child(4) {
  transition: calc(4 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(4) {
  transform: rotate(calc(4 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(4 * 0.1s);
}

#grimoire_deco img:nth-child(5) {
  transition: calc(5 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(5) {
  transform: rotate(calc(5 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(5 * 0.1s);
}

#grimoire_deco img:nth-child(6) {
  transition: calc(6 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(6) {
  transform: rotate(calc(6 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(6 * 0.1s);
}

#grimoire_deco img:nth-child(7) {
  transition: calc(7 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(7) {
  transform: rotate(calc(7 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(7 * 0.1s);
}

#grimoire_deco img:nth-child(8) {
  transition: calc(8 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(8) {
  transform: rotate(calc(8 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(8 * 0.1s);
}

#grimoire_deco img:nth-child(9) {
  transition: calc(9 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(9) {
  transform: rotate(calc(9 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(9 * 0.1s);
}

#grimoire_deco img:nth-child(10) {
  transition: calc(10 * 0.1s);
}

.sec_grimoire:hover #grimoire_deco img:nth-child(10) {
  transform: rotate(calc(10 * 23deg)) scale(-1) translateY(-35vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(10 * 0.1s);
}

.sec_combat {
  background: url("../../assets/flipbook-textures/cockatrice.png"), radial-gradient(red, black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.sec_combat a {
  cursor: url("../../assets/cursors/sword.cur"), pointer;
}

#combat_deco {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s;
  background-color: green;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
#combat_deco img {
  position: absolute;
  height: 40vmin;
  transform-origin: center;
  transform: scale(0.01);
}

#combat_deco img:nth-child(1) {
  transition: calc(1 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(1) {
  transform: rotate(calc(1 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(1 * 0.1s);
}

#combat_deco img:nth-child(2) {
  transition: calc(2 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(2) {
  transform: rotate(calc(2 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(2 * 0.1s);
}

#combat_deco img:nth-child(3) {
  transition: calc(3 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(3) {
  transform: rotate(calc(3 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(3 * 0.1s);
}

#combat_deco img:nth-child(4) {
  transition: calc(4 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(4) {
  transform: rotate(calc(4 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(4 * 0.1s);
}

#combat_deco img:nth-child(5) {
  transition: calc(5 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(5) {
  transform: rotate(calc(5 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(5 * 0.1s);
}

#combat_deco img:nth-child(6) {
  transition: calc(6 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(6) {
  transform: rotate(calc(6 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(6 * 0.1s);
}

#combat_deco img:nth-child(7) {
  transition: calc(7 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(7) {
  transform: rotate(calc(7 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(7 * 0.1s);
}

#combat_deco img:nth-child(8) {
  transition: calc(8 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(8) {
  transform: rotate(calc(8 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(8 * 0.1s);
}

#combat_deco img:nth-child(9) {
  transition: calc(9 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(9) {
  transform: rotate(calc(9 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(9 * 0.1s);
}

#combat_deco img:nth-child(10) {
  transition: calc(10 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(10) {
  transform: rotate(calc(10 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(10 * 0.1s);
}

#combat_deco img:nth-child(11) {
  transition: calc(11 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(11) {
  transform: rotate(calc(11 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(11 * 0.1s);
}

#combat_deco img:nth-child(12) {
  transition: calc(12 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(12) {
  transform: rotate(calc(12 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(12 * 0.1s);
}

#combat_deco img:nth-child(13) {
  transition: calc(13 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(13) {
  transform: rotate(calc(13 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(13 * 0.1s);
}

#combat_deco img:nth-child(14) {
  transition: calc(14 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(14) {
  transform: rotate(calc(14 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(14 * 0.1s);
}

#combat_deco img:nth-child(15) {
  transition: calc(15 * 0.1s);
}

.sec_combat:hover #combat_deco img:nth-child(15) {
  transform: rotate(calc(15 * 15deg)) scale(1) translateY(-30vmin);
  animation: propAnimate 0.5s infinite alternate ease-in-out;
  animation-delay: calc(15 * 0.1s);
}

@keyframes propAnimate {
  from {
    margin-bottom: 1px;
  }
  to {
    margin-bottom: 1vmin;
  }
}/*# sourceMappingURL=accueil.component.css.map */