<ul class="nav nav-pills mt-3">
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/menu']" routerLinkActive="active">Se déconnecter</a>
    </li>
    <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" [routerLink]="['/creature']" routerLinkActive="active">Gestion des creatures</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" [routerLink]="['/compte']" routerLinkActive="active">Gestion des comptes</a>
      </li>
</ul>



<div class="accueil">

<div class="section">  <a  style="color: black;" [routerLink]="['/selection-combat']" routerLinkActive="active">Affronter de terribles créatures mythologiques</a></div>
<div class="section"><a style="color: black;" [routerLink]="['/grimoire']" routerLinkActive="active">Partir à la découverte du Grimoire</a></div>
   
</div>