<div *ngIf="creature" class="creature">
    <div class="nom">{{creature.nom}}</div>
    <div>{{creature.nom}}</div>
    <div>{{creature.description}}</div>
    <div class="image"><img width="30px" height="30px" [src]="creature.image"/></div>
    <div class="memo">Memo
        <ul>Domaine mythologique : {{creature.mythologie}}</ul>
        <ul>Type d'éléments : {{creature.typeElement}}</ul>
        <ul>Niveau d'attaque : {{creature.attaque}}</ul>
    </div>
    <div>
        <button (click)="previous()">Suivant</button>
        <button (click)="next()">Suivant</button>
    </div>
</div>